[2013-08-11 11:49] airtonix opened #1 "use tastypie"
seriously. do it.

[2013-08-12 08:22] #1 closed, assigned to nobody

[2015-02-10 19:54] mvantellingen opened #5 "Allow overriding the default serializers"
We might want to make the Serializers overridable by the project using the app. By creating abstract serializers users can implement their own just like currently possible with the oscar models/classes.

This would mean that we would use e.g. `get_class('ProductSerializer')` in the views

[2015-02-10 20:34] specialunderwear commented on #5
Not a bad idea.
Is that coming from personal experience?

[2015-02-11 20:54] maerteijn commented on #5
Agree! Now we are overwriting the views for using custom serializers.

[2015-02-11 21:21] specialunderwear commented on #5
I just can't really see how that would work, since this is not a core app.

[2015-03-11 20:04] shahaamir opened #13 "Partly using API in an oscar website"
In a scenario where an already existing website tries to use some part of the API (eg. implement ajax cart), basket managment is broken.
oscarapi uses session to manage basket_id whereas oscar uses cookies.
If the basket addition is done using API and a redirect happens for checkout or any other functionalty, request.basket is empty.
I solved this problem by overwriting basket APIs to use request.

[2015-03-12 21:15] jmound opened #14 "Django Rest Framework v3 support?"
Has anyone looked in to getting DRF v3 supported? @specialunderwear, I'd think you'd have good insight on this.

Thanks!

[2015-03-12 22:43] specialunderwear commented on #14
Look at the pull request

[2015-03-13 14:10] jmound commented on #14
Excellent. Going to roll it out for a spin today.

[2015-03-13 14:10] #14 closed

[2015-03-26 21:23] jmound opened #15 "Should the JSON returned by a GET to /products/{id}/ of a child product include the images of its parent?"
As it is right now, the json returned from a request to /products/{id}/ of a child product doesn't include images set on the parent. However, the Oscar dashboard doesn't let you set images on child products.

To me the expected behavior is that if I am requesting a child product, and there are images set on the parent, that I would be returned those.

As it is written, how should a client get the

[2015-03-26 21:55] jmound commented on #15
After some more research, I found this [thread](https://groups.google.com/forum/#!searchin/django-oscar/images$20variants/django-oscar/lwxpxC3o_xw/gX4fg9jLdvsJ). My issue is easily solved by setting images on children by changing the dashboard template mentioned [here](https://github.com/django-oscar/django-oscar/blob/master/src/oscar/templates/oscar/dashboard/catalogue/product_update.html#L80). F

[2015-03-26 21:55] #15 closed

[2015-04-03 18:49] jmound opened #16 "How to create a basket with more than one product?"
Is it possible to POST more than one product to ```/basket/add-product/```?
If so, how? If not, how can it be done?

[2015-04-12 19:55] jakobholmelund commented on #13
BUMP

[2015-04-29 08:42] jakobholmelund commented on #13
I was hoping to use the api for excactly this.. Reading this, i think i'll just write a custom handler that returns json.

[2015-05-07 20:13] jmound opened #18 "Tests fail with postgresql"
The oscarapi tests pass  with sqlite as a db backend, and fail when run with postgres:

[code]
- Swap out DATABASES in sandbox/settings.py with a postgresql configuration: ''ENGINE': 'django.db.backends.postgresql_psycopg2',' along with a working set of settings
  - `pip install psycopg2`
- and re-run:

[code]

The full output is pretty long. Here is one of the errors:

[code]

[2015-05-18 13:14] iraycd opened #19 "Replace serializers.HyperlinkedIdentityField with PriceSerializer"
How do I replace serializers.HyperlinkedIdentityField with PriceSerializer? How do I do it? Is it good or bad method to follow? I want to display price in the list view.

[2015-05-18 20:53] shahaamir commented on #19
We did something like this

    class ProductSerializer(CoreProductSerializer):
        price = serializers.SerializerMethodField(method_name='get_price')

        def get_price(self, obj):
            request = self.context.get('request')
            strategy = Selector().strategy(request=request, user=request.user)
            price = strategy.fetch_for_product(obj).price
            return Pric

[2015-05-26 17:37] jmound commented on #16
To answer for anyone else that comes across this issue:

Different products are added to a basket via subsequent calls to ```/basket/add-product```.
POSTs to that endpoint are routed to  AddProductView which adds the product via [AddProductSerializer](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/views/basket.py#L88-L89) which takes a request for a single instance and not a

[2015-05-26 17:37] #16 closed

[2015-06-10 22:59] rollokb opened #22 "[Feature RE] Could we create an API for the dashboard?"
Would creating an API for the dashboard be useful to have out of the the box? Or it outside the scope of the project? I'd be willing to contribute to that.

[2015-06-15 14:20] jakobholmelund commented on #22
Hey Rollokb

The core team isn't interested in using an API for the dashboard. Or at least making the dashboard with an SPA. There is this django plugin called wq.db https://github.com/wq/wq.db that works in kind of the same way as the django admin module. I've done some preliminary testing, and it seems that it's very dooable. It's not totally automatic, so it will take some work.

I would also l

[2015-06-15 14:32] jakobholmelund opened #24 "Checkout validation"
I'm not sure if i'm doing it right. It seems that checkout validation in the CheckoutSerializer doesn't add the shipping charge to the total amount and if i do it myself via the OrderPlacementMixin validation fails because the total amount is validated against basket.total_incl_tax which does not include shipping. If i ignore this i end up with an order with a wrong total like this

#10

[2015-06-15 15:42] rollokb commented on #22
I'm doing a SPA application for Oscar's dashboard right now as part of one of my projects. I'd be willing to contribute back to an open source version of one.

[2015-06-15 16:11] jakobholmelund commented on #22
Cool. How do you go about this with no API ? I'll set up a new project and start the preliminary work to setup the API.

[2015-06-15 20:59] specialunderwear commented on #24
Thanks for reporting, that would be a bug indeed.

[2015-06-15 21:11] specialunderwear commented on #19
The reason that the price is in a separate call, is that it can be very volatile. It can change based on many thing, like availability or even basket contents. So to avoid caching, which you most likely want to do for the product details, it has been separated into it's own call.

From your usecase it's point of view I can understand why it is much nicer to have it in the product detail view thoug

[2015-06-15 21:12] specialunderwear commented on #18
Most likely that is caused by the fixtures not loading properly.
Are you seeing any fixture loading errors?

[2015-06-15 21:14] specialunderwear commented on #13
This problem you are having, is it while using oscarapi.middleware.HeaderSessionMiddleware or without?

[2015-06-15 21:26] specialunderwear commented on #13
By the way your remark about 'clients not using cookies' is spot on.
This api was designed more towards backend systems as consumers instead of web clients as consumers.

What you are seeing now is that you can use the api mixed with the website for AUTHENTICATED users, but for anonymous users you can not mix regular oscar views with api views. That is because oscar keeps the basket id in a cookie

[2015-06-16 09:08] jakobholmelund commented on #13
Is there any easy fix for this ? On the top of my head, it would be to actually create a user for anonymouse users, maybe with a special role and then log them in automatically ? Maybe i'm overthinking this

[2015-06-16 10:31] iraycd opened #26 "How do you deal with API version?"
So, I am deploying a mobile application with the present version of django-oscar-api.
Tomorrow there might be an update in the structure. The old mobile application might crash or functionalities might not work.

How is django-oscar-api architected?
Are you thinking of make django-oscar-api-v2, v3 versions when there are big changes?

[2015-06-16 10:34] iraycd commented on #13
@jakobholmelund :+1: Nice idea.

[2015-06-16 11:05] specialunderwear commented on #13
I think you could write a middleware that copies the basket is to the session?

[2015-06-16 13:10] jakobholmelund commented on #13
Hmm after fidling a bit it seems that my oscar_open_basket cookie is in the format  "15:_1bd6Cc9NYDQkEfFP4KdAOR7fSw" . When trying to copy this to the session with (taken from the login handler)

  anonymous_basket = operations.get_anonymous_basket(request)

It seems to expect an integer. I haven't used the login handler since i'm using the api for a mixed web/api approach, so i don't know if i'm

[2015-06-16 13:13] specialunderwear commented on #13
you need to unsign the cookie id, look here: https://github.com/django-oscar/django-oscar/blob/1.0.2/oscar/apps/basket/middleware.py#L174

Most likely you should extend that middleware

[2015-06-16 13:26] jakobholmelund commented on #13
Just so i don't misunderstand. What i wan't to do, is open up that /oscarapi/basket/ to anonymouse users on the current domain

[2015-06-16 13:57] jakobholmelund commented on #13
I'm an idiot.. i had

REST_FRAMEWORK = {
    'DEFAULT_PERMISSION_CLASSES': ('rest_framework.permissions.IsAdminUser',),
    'CHARSET': 'utf-8'
}

in my config.. No wonder it didn't work :/

[2015-06-16 20:41] specialunderwear commented on #13
Which middleware? The one you made or mine (HeaderSessionMiddleware)?
If it is yours, maybe you can contribute it?

[2015-06-17 18:45] specialunderwear commented on #26
At the moment, the api is pre release software. That means there is no release on pypi yet. You also might have noticed that there is no documentation yet. All you brave early users can help iron out all the issues by using it in ways never intended.

For your problems with versioning, there is an easy fix. Just use a tag. The tags are guaranteed to pass tests and when a new tag is made you can te

[2015-06-17 18:46] #24 closed

[2015-06-17 21:28] iraycd commented on #26
:+1:

By tags. Do you mean Django Rest Framework Versioning?
http://www.django-rest-framework.org/api-guide/versioning/

[2015-06-18 00:52] specialunderwear commented on #26
No, I mean git tags.

[2015-06-18 21:10] glenfordwilliams opened #27 "logging in"
how do i use the the api to login using something like curl?

[2015-06-18 21:20] specialunderwear commented on #27
Exactly what is your problem using the api to log in.
There is a login api endpoint, which you can use.
Although the same restrictions as other requests apply with respect to csrf.
Unless you use the HeaderSessionMiddleWare as documented in the Readme

[2015-06-18 21:20] #27 closed

[2015-07-02 22:51] glenfordwilliams opened #29 "Products by Category"
hi im currently working on a mobile app and realized that i cant find any code to get products by specified category. How could i implement this?

[2015-07-08 10:20] iraycd commented on #29
It has not yet been integrated. I hope that will happen soon.

[2015-07-08 10:25] glenfordwilliams commented on #29
thanks for the reply.. i ended up writing sql to achieve this probably not the best way but i have to meet a deadline

[2015-07-13 21:00] specialunderwear commented on #29
You can override the Product list view to accept filters and filter on category?

[2015-07-13 21:02] specialunderwear commented on #13
@jakobholmelund did you create a middleware that implements this, or did HeaderSessionMiddleware work for you?

[2015-07-13 21:10] glenfordwilliams commented on #29
Tried that but it wasn't working for me. Digging through the oscar code I found another method using the ProductCategory model

[2015-07-13 21:18] jakobholmelund commented on #13
Hi again. Sorry i didn't get back before.

Right now i'm using the HeaderSessionMiddleware as well as 2 other custom middlewares. At this point i'm not really sure if both of my own Middlewares are needed, but i haven't had time to consolidate what it is that makes it work. In on of my custom middlewares i am overriding the Core BasketMiddleware with

  class BasketMiddleware(CoreBasketMiddleware)

[2015-07-14 03:51] dashmug opened #30 "Compatibility with Django REST Framework 3"
I have an existing oscar project that has some non-oscar parts using Django REST Framework 3. If I start using django-oscar-api for the oscar parts, will this cause an issue knowing that django-oscar-api requires DRF version less than 3?

[2015-07-14 08:26] lijoantony commented on #30
There is a pull request waiting for DRF 3 migration. Hopefully that will be
merged soon.

On Tue 14 Jul, 2015 7:51 am Noel Martin Llevares <notifications@github.com>
wrote:

[2015-07-21 03:07] shahaamir commented on #13
This is what we are using that works. In our website we use ember app just for the basket, which uses oscar-api.
Checkout and other pages are rendered from the server along with basket's content.
Also, we don't use the Session-Id protocol and HeaderSessionMiddleware.
HeaderSessionMiddleware works and we were using it when the app was completely a SPA using ember. Django Session Authentication work

[2015-07-31 16:11] glenfordwilliams opened #31 "checkout help"
POST(basket, shipping_address,
         [total, shipping_method_code, shipping_charge, billing_address])

its not entirely clear how each parameter should be represented. can someone please give an example how this is used?

[2015-08-19 02:50] glenfordwilliams commented on #31
anyone?

[2015-08-19 14:05] v1kku opened #33 "Oscarapi structure"
Like oscar's dashboard and core apps, could we have sub-apps for the api as well? For example we could have the `oscarapi/basket` app which will have it's own `app.py`, `serializers.py` and `views.py`. This should be easy enough to do.

This could also help address the issue of extensibility. There was [an attempt](https://github.com/django-oscar/django-oscar/pull/483) to make oscar's `get_classes

[2015-08-23 13:54] michaelkook commented on #31
{
        "basket": "http://testserver/oscarapi/baskets/1/",
        "total": "100.0",
        "shipping_charge": {
            "currency": "EUR",
            "excl_tax": "10.0",
            "tax": "0.6"
        },
        "shipping_method_code": "no-shipping-required",
        "shipping_address": {
            "country": "http://127.0.0.1:8000/oscarapi/countries/NL/",
            "first_name": "H

[2015-08-23 15:32] glenfordwilliams commented on #31
@michaelkook  thanks much gonna try it out later on

[2015-08-24 11:44] v1kku commented on #33
I've tweaked the `get_classes` method to allow it to load classes that aren't in oscar's core. [Here is the commit](https://github.com/v1kku/django-oscar/commit/f4b5e4b7f525d19e232c6886e3f970791b2e6fb3).

[2015-08-26 17:28] glenfordwilliams commented on #31
@michaelkook  i tried but currently i keep getting
`
Post Response -{"detail": "You do not have permission to perform this action."}
code - 403
`
currently working using java, my code if it makes any difference

`String json = this.get(this.ordersUrl, "Get Orders");
		System.out.println(json);

		JSONArray jarr = new JSONArray(json);
		String basket = jarr.getJSONObject(0).getString("basket");
		S

[2015-10-19 11:29] specialunderwear commented on #13
I think I've solved the issue in this pull request: https://github.com/django-oscar/django-oscar-api/pull/34

If anyone can confirm this solves the problem, I will merge that feature.

[2015-11-16 10:41] specialunderwear commented on #33
Ok, good idea.

[2015-11-16 10:44] specialunderwear commented on #31
I think that the question about the structure of the checkout request was properly answered by @michaelkook right?

[2015-11-16 11:27] glenfordwilliams commented on #31
Well if didn't solve my issue
On Nov 16, 2015 5:44 AM, "Lars van de Kerkhof" <notifications@github.com>
wrote:

[2015-11-16 20:06] michaelkuty opened #38 "pip release ?"
Depends on #37

[2015-11-17 19:46] specialunderwear commented on #13
I'll close this issue after documentation on this is done

[2015-11-17 19:55] specialunderwear commented on #38
After the documentation is done, oscarapi can be released on pypi.

[2015-11-17 19:56] michaelkuty commented on #38
Thanks for info, would be nice to have this package available on pypi.

[2015-11-17 19:57] specialunderwear commented on #38
For the record, if anyone knows people that enjoy writing documentation. Please make them help us.

[2015-11-18 13:53] specialunderwear commented on #31
ok, but are you sending any authentication information along with that request? And are you sending csrf headers properly?

[2015-11-18 13:53] #30 closed

[2015-11-18 13:55] #19 closed

[2015-11-18 13:57] specialunderwear commented on #22
It could be very useful to have an api for the dashboard.
That way you can also make administrative tasks available for third party's by the api.

However, since I've got no direct need for it, it is not on the roadmap.

[2015-11-18 13:57] #22 closed

[2015-11-18 13:59] specialunderwear commented on #5
Somebody had something to say about this in #33

[2015-11-26 15:52] crgwbr opened #41 "ApiBasketMiddleWare: 'super' object has no attribute 'process_request'"
When using the ApiBasketMiddleWare class, it throws an AttributeError exception on every page load. This is due to incorrect usage of the super function.

[2015-11-26 16:00] crgwbr opened #43 "AttributeError at /api/basket/ 'ApiBasketMiddleWare' object has no attribute 'request'"
AttributeError is thrown on ApiBasketMiddleWare line 214. Steps to reproduce:

1. Clear all cookies.
2. Add item to cart using stock oscar "add to basket" button.
3. Request the basket endpoint from oscarapi.

[2015-11-26 17:31] #43 closed

[2015-11-26 17:38] #41 closed

[2015-11-29 11:57] maerteijn commented on #33
@v1kku Did you send a pull request to the django-oscar repo for your `get_class` functionality to load classes outside of oscar core? Would be really nice if we would have that.

[2015-12-29 22:28] bufke commented on #38
I wouldn't say I enjoy it - but I could possibly assist here. What's the plan? Is this for general project information or api docs like [this](http://www.django-rest-framework.org/topics/documenting-your-api/).

[2015-12-29 22:31] bufke opened #50 "Support and test against python 3.5 and django 1.9"
Any issues with this? Do we want 1.7 tests still (which is no longer a supported version)? I can test things out and do a pull request if this is ok.

[2015-12-30 08:47] specialunderwear commented on #38
Like this: http://django-oscar-api.readthedocs.org/en/latest/

It sits in the https://github.com/django-oscar/django-oscar-api/tree/documentation branch. If you could help fill in the stubs or correct mistakes that would be much appreciated. You can send pull requests on that branch to @maerteijn

[2015-12-30 13:29] maerteijn commented on #31
@glenfordwilliams Until now you could only checkout when logged in. Today we merged #49 so it's possible to do a anonymous checkout (when you set the `guest_email` property). Can you test this?

[2015-12-30 13:31] maerteijn commented on #13
@shahaamir @jakobholmelund  Can you confirm that this issue is solved with #34 ?

[2015-12-30 13:33] maerteijn commented on #29
@glenfordwilliams Can we close this issue?

[2015-12-30 13:38] maerteijn commented on #26
@specialunderwear We need to discuss this how we are going to do the versioning of django-oscar-api when we are going to release it on pypi

[2015-12-30 13:44] maerteijn commented on #50
The current version supports django-oscar>=1.1. As Oscar 1.1  is supporting Django 1.7 we want to support this as well.

I'm pretty sure we are not compatible (yet) with python 3.x, so we first need to address this. If you're interested in fixing django-oscar-api with python 3.x and then do a pull request (including the travis configuration) we would be really happy! :)

[2015-12-30 15:28] bufke commented on #50
Ok working on it - we are using some apis in py3 already but a lot of unit tests are failing.

Looks like six already gets installed - ok with using that? For example

[code]

[2015-12-30 16:44] bufke commented on #50
@specialunderwear I used git blame :) there is a naked except [here](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/tests/utils.py#L141). It obscures a string/bytes issue that I've already figured out but I still suggest removing it. Do you remember the intention here? Is there a specific exception we can check for? If not it's no big deal.

[2015-12-30 17:47] maerteijn commented on #50
Python 3 with binary strings and Python 2 with it's Unicode mess, what a joy :)

Yes I would suggest to use six when it's really needed, but if it can be avoided (for readability) I would do that. Maybe something like this could be an option?
[code]

[2015-12-30 17:51] bufke commented on #50
Let me try that out - I ended up not using six much anyway. Didn't even realize they added back `u` in python 3.3.

[2015-12-30 21:44] bufke commented on #50
Ok done, no more six. If there are no more issues it should be ready to merge.

[2016-01-04 19:38] maerteijn commented on #50
Thanks for the work, I merged it and also tagged a new release.

[2016-01-04 19:38] #50 closed

[2016-01-14 19:55] maerteijn commented on #5
I'll close this issue for now as #33 is in basic the same question. After we released 1.0 we will think about how to override serializers in a easy way.

[2016-01-14 19:55] #5 closed

[2016-01-14 19:58] maerteijn commented on #29
Please reopen if this is still an issue

[2016-01-14 19:58] #29 closed

[2016-01-14 19:59] maerteijn commented on #31
Check out the latest version of oscar-api. If this is still a problem please reopen this issue

[2016-01-14 19:59] #31 closed

[2016-01-14 20:52] specialunderwear commented on #38
https://pypi.python.org/pypi/django-oscar-api/1.0.0

[2016-01-14 20:52] #38 closed

[2016-01-14 20:52] specialunderwear commented on #13
https://django-oscar-api.readthedocs.org/en/latest/usage/middleware.html#basket-middleware

[2016-01-14 20:52] #13 closed

[2016-01-27 16:54] maerteijn opened #57 "Oscar API is not Django 1.9 compatible"
This is caused that Travis is downgrading Django to 1.8 so the test results are not correct.

[2016-01-27 17:22] maerteijn commented on #57
django-oscar 1.1.1 has the dependency `django>=1.7.8,<1.9`, so that's why. So we'll need to fix the travis configuration to let it (for now) work on master.

[2016-01-27 22:33] maerteijn commented on #57
Fixed travis configuration and fixed import/settings issues for Django 1.9 in #56

[2016-01-29 15:23] #57 closed

[2016-02-02 18:21] bufke opened #58 "Doc improvement proposal - what happens after place an order."
Hello - When implementing the [Place an order](https://django-oscar-api.readthedocs.org/en/latest/usage/communicate_with_the_api.html#place-an-order-checkout) api I noticed a confirmation email is never sent. I presume this is because I am expected to create the payment logic myself and only send the email once payment is confirmed.

For reference Oscar sends the email in a view after running plac

[2016-02-02 21:08] maerteijn commented on #58
Hi Bufke, `handle_sucessful_order`  does a lot of things we don't want in the API, like flushing sessions and a http redirect:
[code]
However, the [`CheckoutSerializer`](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/serializers/checkout.py#L187) has `OrderPlacementMixin` as a base class so we could call `send_confirmation_message` [here](https://github.com/django-oscar/djan

[2016-02-20 07:18] bootinge opened #60 "is_quantity_allowed() does not return an error message."
I think is_quantity_allowed() should return an error message instead of quantity.

https://github.com/django-oscar/django-oscar-api/blob/978b37846e630585191eefa35ba8ee12d6ab617b/oscarapi/views/basket.py#L83

[2016-02-22 15:29] specialunderwear commented on #60
Yes, you're right!

[2016-02-22 17:12] #60 closed

[2016-02-29 21:21] maerteijn commented on #58
@bufke I decided not to call the ``handle_successfull_order`` method as it's too specific for the regular ``OrderPlacementMixin`` django view. See #62, so oscarapi will send a signal where you can send the confirmation email yourself (I updated the docs with this).

[2016-03-01 22:28] maerteijn commented on #58
Released in 1.0.2

[2016-03-01 22:28] #58 closed

[2016-03-11 06:30] Nuruddinjr commented on #57
@MrBrownWins

[2016-04-20 18:11] devdlabs opened #68 "any idea on jwt authentication ?"
Hi guys, you rock. I would like to know jwt authentication for api as rest-framework already supports that.

[2016-04-20 21:48] maerteijn commented on #68
Well, as `oscarapi` is a `django-rest-framework` application it is pretty easy to do so by adding your own login view which will provide you a jwt token. You could use [django-rest-framework-jwt](http://getblimp.github.io/django-rest-framework-jwt/) for this, see the Usage section as they provide a build-in view which you can add to your urls.py which will return the token for you.

[2016-04-21 06:34] devdlabs commented on #68
thank you.

[2016-04-21 06:34] #68 closed

[2016-04-25 06:57] v1kku commented on #33
@maerteijn sorry it took forever for me to come back to this. I've made the [PR](https://github.com/django-oscar/django-oscar/pull/2039)

[2016-07-26 19:32] crgwbr opened #74 "Module 'itertools' has no attribute 'imap'"
The function `itertools.imap` was changed to just be `map` in Python 3 ([stackoverflow.com](https://stackoverflow.com/questions/30271712/i-cant-find-imap-in-itertools-in-python)). This breaks the basket list endpoint in Python 3.x.

[oscarapi/views/basic.py#L58](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/views/basic.py#L58)

[code]

[2016-07-27 12:51] maerteijn commented on #74
Will work on a fix

[2016-07-27 14:20] maerteijn commented on #74
Fixed and released as version 1.0.6 https://pypi.python.org/pypi/django-oscar-api/1.0.6

[2016-07-27 14:20] #74 closed

[2016-08-26 11:35] ankur1708 opened #76 "Overriding serializer"
Able to override views as per manual, but unable to do same with serializer.

[2016-08-26 12:22] maerteijn commented on #76
You giving us really little details, so we can't guess what your problem is. However, I will try. If we take the example from the [docs](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/views/basic.py):
[code]
You can override the serializer class which is used by setting the ``serializer_class`` attribute:
[code]

[2016-08-29 07:07] ankur1708 commented on #76
Thanks @maerteijn but this doesn't work. After overriding, its still picking up the oscar api's serializer.

[2016-08-29 08:12] ankur1708 commented on #76
Here is the context @maerteijn :
I am trying to override serializer. I want image url, UPC etc as well with id and title of the product in GET /products API call. I am using oscar 1.1 and python 2.7

[2016-08-29 09:52] ankur1708 commented on #76
Thanks @maerteijn but few attributes like imageUrl (and size options) belongs to separate class: ProductImage. I am guessing overriding a serializer is the only option. Is there any other recommended way?

[2016-08-29 09:58] maerteijn commented on #76
Well, that stays the same. If you take a look at the ProductList view:
https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/views/basic.py#L84

It defines a ``serializer_class`` attribute. So overriding the view and set another serializer class should work.

[2016-08-29 10:35] ankur1708 commented on #29
@glenfordwilliams : Were you able to resolve this? Overriding doesn't seem to work for me.

[2016-08-29 18:47] maerteijn commented on #76
Maybe if you post your view, your custom serializer and urls.py I can help you debugging it

[2016-08-29 21:01] maerteijn commented on #76
Take a look [here](https://github.com/django-oscar/django-oscar-api/tree/demosite/demosite), I created an example how to do it.

[2016-08-30 06:35] ankur1708 commented on #76
Thanks @maerteijn. This works. The only thing which was missing (and I am unable to get it) was '/api/products' entry in urls.py. The similar entry is already there in oscarapi's url.py. Does custom serializer getting picked because of this dup entry?
Also, I am going to add other relevant apis for multi vendor marketplace scenarios. Those should work smoothly now.

[2016-08-30 07:55] maerteijn commented on #76
Yes, django will match the first url regex t will find in urls.py. So with defining this before oscarapi it matches your view (and your serializer as you defined in in your custom view)

[2016-08-30 07:55] #76 closed

[2016-08-30 18:09] SalahAdDin commented on #76
@maerteijn Documentation please.

[2016-08-30 20:02] maerteijn commented on #76
Basically this is how django and restframework works, so there are no oscarapi specific things happening here. However, I will write some documentation about it to make it more clear. In the meanwhile take a look at the demosite.

[2016-10-03 17:48] dentemm opened #78 "Ajax PUT request to update line quantity"
When trying to update the quantity of a line in my basket I am getting this AssertionError:

Am I doing anything wrong here? I am basically executing the exact same code as explained in the Example Usage section of the docs.

Thank you!

[2016-10-03 20:13] maerteijn commented on #78
Which version of oscarapi do you use? I will take a look tommorow then

[2016-10-04 04:28] dentemm commented on #78
Thanks for your quick response!

django-oscar-api==1.0.7

[2016-10-04 11:35] maerteijn commented on #78
@dentemm Ok found it. This is because of the `AttributeSerializer` defined in the `BasketLineSerializer`:

https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/serializers/basket.py#L96

It should not be possible to update these directly without an update view so `django-rest-framework` complaining is justified. In our tests this was not tested correctly so we are going to address

[2016-10-04 13:43] dentemm commented on #78
Thanks a lot Maerteijn, it works!

[2016-10-04 13:44] maerteijn commented on #78
Ok, I will leave this issue open until we have a real proper fix. Thanks for reporting!

[2016-10-06 16:31] Nuruddinjr opened #80 "Send ajax request to API"
[code]

I am sending this request, however, it is producing 406 Error,
How I can sync user session with API session ?

[2016-10-10 10:57] Nuruddinjr commented on #80
I am fixing my questions as : How Can sync user session with API session , because 406 Error was my mistake

[2016-10-10 11:33] maerteijn commented on #80
It's pretty unclear what you mean by "Can sync user session with API session". Normally (if you use the same domain) the cookies will be automatically send by your requests (so oscarapi can pick up  the django session). However, you can try to replace the `BasketMiddleware` of oscar with this one: http://django-oscar-api.readthedocs.io/en/latest/usage/middleware.html#basket-middleware

[2016-10-10 11:53] Nuruddinjr commented on #80
Thanks for clarifying, so If i want to handle anonymous users , I should use above mentioned middleware, right?

[2016-10-10 12:17] maerteijn commented on #80
Well, it can help in some scenario's (especially when you mix native oscar views and api REST calls). In your scenario however it should already work. Check if you receive a session cookie from django (make a `GET` request to `/api/basket/` and inspect if you have a cookie named `sessionid`) and make sure you send it back

[2016-10-31 13:08] maerteijn commented on #80
@Nuruddinjr Did you manage to make it work?

[2016-10-31 16:47] Nuruddinjr commented on #80
No , it is still adding it to another basket from API which is different with django session

[2016-11-01 11:28] maerteijn commented on #80
@Nuruddinjr  I'm not sure why you 'loose' the session. Please note that all browsers have (security related) cross-domain limitations, so maybe that could be the reason. However, I made a jquery example to add products to the basket, to delete lines from your basket and to login/logout to demonstrate that it works without any middleware adjustments. (it uses the django-session cookie).

- Install

[2016-11-02 04:38] Nuruddinjr commented on #80
Thank you let me try tonight

[2016-11-12 19:49] ckepper opened #82 "Updating line item quantity doesn't recalculate discounts"
This issue might be related to #78.

Essentially, I am just sending a PUT request to update the quantity of a line item as explained in the example usage. However, after updating the line item quantity, discounts are not recalculated and in the response price_excl_tax and price_excl_tax_excl_discounts are equal. I would expect that count based offers are applied after updating the quantity.

Only

[2016-11-14 12:03] maerteijn commented on #82
Hi @ckepper. Discounts are calculated by applying offers on the complete basket, not just per line. So this is a bit of an edge-case as we follow the way oscar caclulates the discounts and offers on a basket.

Do you mean btw that `price_excl_tax` and `price_excl_tax_excl_discounts ` are not automatic recalculated on your client when not retrieving the basket again? These fields are only available

[2016-11-14 20:27] ckepper commented on #82
I am aware that this might be an edge case and I know that Oscar calculates discounts on the basket and not on a single line item.

What I found confusing was that I received a response to the `PUT` request that included `price_excl_tax_excl_discounts` but the value was incorrect. I would have expected that the response shows either the correct value (with discount applied) or no discount field at

[2016-11-14 20:38] maerteijn commented on #82
@ckepper Ah ok, I see now that the `price_excl_tax_excl_discounts` is also serialized in the line response (which means that we don't apply the offers before the response). This should be fixed (or we should leave out the `price_incl_tax_excl_discounts' and `price_excl_tax_excl_discounts` fields). I'll investigate this further and will realize a proper solution. Thanks for reporting!

[2016-11-14 21:13] maerteijn commented on #82
I will try to fix this (when I have more time) in a proper way. In the meanwhile I have this branch which hopefully fixes this : https://github.com/django-oscar/django-oscar-api/tree/fix/update-line-quantity  Can I ask you try this (just to see if I'm lukcy :) )

[2016-11-14 21:17] maerteijn commented on #80
@Nuruddinjr Any progress on this one? I'm curious if this works for you.

[2016-11-15 01:26] ckepper commented on #82
Thank you for supplying this patch so quickly. I tried it out but unfortunately it didn't fix it. I stepped through the code with a debugger and found that the correct value was in the result cache (`basket._lines._result_cache[0]`) but this was not used for the output.

[2016-11-15 04:16] Nuruddinjr commented on #80
Thank you for help, you can close the issue, but I hope If I face a problem on the same topic again, I will re comment here, if it is OK

[2016-11-19 19:14] Nuruddinjr commented on #80
Here is interesting issue, when it runs on localhost, I manage to get API work, but when production, they are in two different baskets

[2016-11-20 16:42] maerteijn commented on #82
Hi @ckepper, I think I fixed this in https://github.com/django-oscar/django-oscar-api/tree/fix/update-line-quantity now (and I added a test for it). Can you confirm this works for you? Then I'll review it next week and make a new release of oscarapi. Thnx.

[2016-11-20 16:46] maerteijn commented on #80
@Nuruddinjr With my example as well? (using it on localhost like documented above?)

[2016-11-20 18:32] Nuruddinjr commented on #80
I didn't deploy the example to server

[2016-11-20 18:51] maerteijn commented on #80
That was not my question, my question was if anonymous sessions work with my example. I did not ask you to deploy it on your server. And by just stating: "Ajax requests for logged in users work, for anonymous sessions it doesn't work" you're not really helping in finding out what is going on.

So, to rephrase again: Can you test the example I created for you and can you confirm that this works or

[2016-11-20 18:53] Nuruddinjr commented on #80
I am sorry for misunderstanding you and misleading question, let me work on that.

[2016-11-21 14:03] maerteijn commented on #82
@ckepper, We already made a proper solution for this and merged this to master. Maybe you can check this so we are sure we have the correct solution?

[2016-11-29 05:21] Nuruddinjr opened #85 "No module names api"
I was using oscar api but after a while,'magically' following problem arose

```ImportError: No module named 'api'```

but, 'oscarapi' is in Installed apps,
and urls are defined as :
[code]

[2016-11-29 14:43] maerteijn commented on #85
Can you explain a bit more (show the complete startup message for example) or the complete traceback?

[2016-11-29 15:06] specialunderwear commented on #85
did the quotes around 'api.urls' appear by magic?

[2016-11-29 15:06] #85 closed

[2016-12-07 22:20] #82 closed

[2016-12-07 22:20] maerteijn commented on #80
Any luck already?

[2016-12-08 09:20] Nuruddinjr commented on #80
I think I messed up my codes little bit, so decided to return ajax_views instead of API call using oscar-api...
I will try in another project, for now , we shall close the issue.

Thanks for help

[2016-12-08 09:20] #80 closed

[2016-12-18 03:34] Pandemonium00 opened #87 "Oscar price API"
Hi,

I am using django oscar api and extending its functionality. Fetching a product price has a separate API. If I am displaying 20 products on a page, I need to call 20 extra APIs to fetch price. Product prices, i think, should be part of response returned by ProductList API.
My product will have multiple stock records but price will be same for all variants. Looking for a solution where I can m

[2016-12-18 21:30] maerteijn commented on #87
Everybody wants something else when it's e-commerce related. That's why Oscar and Oscar API are build to be customized. For Oscar API, please take a look at the documentation how to customize the views and serializers: http://django-oscar-api.readthedocs.io/en/latest/usage/customizing_oscarapi.html

[2017-01-13 07:05] gins0023 opened #88 "billing_address field in checkout api"
Am I missing something here or am I not supposed to be passing billing_address as a dict like shipping_address?  The serializer doesn't create a BillingAddress object and so the call to save throws an exception...

[2017-01-16 08:43] maerteijn commented on #88
Can you show me the exception?

[2017-01-17 13:21] maerteijn commented on #88
You are right, there is no code at all to save the billing address :)

I created a pull request for this: https://github.com/django-oscar/django-oscar-api/pull/90

[2017-01-17 19:00] maerteijn commented on #87
Just for future reference: In the branch `price-example` you can see an example how to add the price of a product to the `ProductLink` serializer: https://github.com/django-oscar/django-oscar-api/blob/price-example/demosite/mycustomapi/serializers.py

[2017-01-17 19:00] #87 closed

[2017-01-17 19:38] gins0023 commented on #88
Thanks @maerteijn

[2017-02-19 11:22] vsanchez2187 opened #91 "Api Gateway and Authorizations"
Hello , i am new using Django Oscar Api .I am using the latest stable version :1.0.10 (2016-12-08)

 I just installed and need to use Api Key resource protection.I just create an Api Key Object in the Admin Panel, add to settings.py oscarapi.middleware.ApiGatewayMiddleWare and every time i send a request to : GET localhost:8000/api/ with the Header HTTP_AUTHORIZATION : Authorization:2W1bqko79ZF3Vi

[2017-02-25 11:10] maerteijn commented on #91
Hi @vsanchez2187  No, what you describe is the correct procedure. However, make sure the header you send is in the form `Authorization:<key>`, not `HTTP_AUTHORIZATION:Authorization:key`

[2017-02-25 14:19] SalahAdDin commented on #87
@maerteijin, can  you put this link in the documentation? all people search in documentation before report here in whatever issue.

[2017-02-26 01:10] maerteijn commented on #87
The link IS in the documentation. See last note here: http://django-oscar-api.readthedocs.io/en/latest/usage/customizing_oscarapi.html

[2017-03-08 11:52] maerteijn commented on #91
@vsanchez2187 And, did it work out by sending the correct headers?

[2017-03-10 17:49] vsanchez2187 commented on #91
Yes it work !!! Thanks.

[2017-03-10 17:49] #91 closed

[2017-03-10 19:13] vsanchez2187 opened #93 "Oscar Api Checkout"
Hello , in terms of checkout process during the request, the current latest version of django-oscar api has a checkout method already implemented.But , i need to know how to use PayPal with django oscar api and Stripes as a payment gateway.I mean , when someone try to buy you most select a payment type as the demo site has show.

Can someone explain how can i do that ? from the Api side???

[2017-03-13 20:35] maerteijn commented on #93
Hi @vsanchez2187,

Normally when you do a checkout in an E-Commerce website you choose your payment provider, do some stuff you need to do in advance (register your payment, add success and error callbacks etc) and then redirect to the payment page of the specific provider.

In Oscar API this is no different. However, you need to implement this yourself because of the major difference in payment p

[2017-03-23 07:17] mshamma opened #94 "Question about implementing an express checkout api"
Hi There,

I need an api that is essentially a single product express checkout, so to speak.  I've developed a view that is a combination of the basket.addproductview and checkoutview.  I'm new to Django/oscar (recovering C# developer) and I'd like to know if this is the right approach for such a feature.  Thanks in advance.

[code]

The json request payload:

[code]

And response:

[code]

[2017-03-23 07:56] vsanchez2187 commented on #93
Thanks @maerteijn , so for example if i want to use PayPal , i should download django-oscar-paypal . and implement a redirect view my self and call the redirect url after the order has been made.? Is that correct ?

I was reading about checkouts process , and there is a library that mades payments for django-oscar api called https://pypi.python.org/pypi/django-oscar-api-checkout , it has more unde

[2017-03-23 09:55] maerteijn commented on #93
Hi @vsanchez2187 I'm not sure what django-oscar-paypal is doing but I suspect that it has all the stuff you need. So what you say is correct.

No, I did not know Craig developed this, looks pretty promising. I will check it out!

[2017-03-23 11:08] specialunderwear commented on #93
Hi oscarapi offers you a way to integrate payments, but does not offer any payment fuctionality by itself, because it is to specific to the payment providers.

What oscarapi want you to do is as follows:

implement a view and register it's url:
[code]

If you do this, every order object that is created with the checkout api, get's a payment url,that you can use to move onto payment. So that means

[2017-03-23 11:16] specialunderwear commented on #94
Hi, maybe you can use some of the information we shared in #93

For the express checkout, I am wondering if you are settings this up for anonymous users or for loggedin users that have allready entered their addresses etc.

Either way I am not really seeing how you can gather all this information you need to send to your api with a single click on a button?

[2017-03-23 17:42] mshamma commented on #94
Thanks for the info #93.  I'm setting this up for anonymous users.  I'll use the express checkout response to prepare the order and forward the request as a transaction to Cybersource.

However, I already see now that I have to correct this line

[code]

If the data is invalid, the basket remains open.  When the data is corrected on the front-end, the total is thrown off and must be doubled.  Shou

[2017-03-24 18:22] mshamma commented on #94
Thanks for the help.  I realize I should probably ask this question on SO.  http://stackoverflow.com/questions/43006599/can-i-use-existing-the-existing-oscar-oscar-api-object-model-to-implement-a-sing

[2017-03-24 18:22] #94 closed

[2017-05-19 11:48] #93 closed

[2017-05-19 11:48] #78 closed

[2017-05-19 11:48] #18 closed

[2017-06-12 09:51] yazanhorani opened #103 "Why not using oscar.loading?"
Going through the api's you might need to change a class or more, using the "loading.py" from oscar will allow more functionalities and easier access and modifications.

[2017-06-12 10:14] specialunderwear commented on #103
Just like what is said in #33 you mean?

[2017-06-15 10:18] maerteijn commented on #103
Yes, see also https://github.com/django-oscar/django-oscar/pull/2039  It's planned to do so (oscarapi existed before this extension was made).

[2017-06-15 10:18] #103 closed

[2017-06-15 10:20] maerteijn commented on #103
duplicate #33

[2017-06-15 10:26] maerteijn commented on #26
For the last two years, we released a fully backwards compatible version of oscarapi with one minor change in basket line urls. So I will close this issue until we really need to do something with versions.

[2017-06-15 10:26] #26 closed

[2017-07-02 09:36] yazanhorani opened #104 "New Release"
Are you willing to upload the new release to PyPi anytime soon?

[2017-07-03 08:11] maerteijn commented on #104
@yazanhorani Yes, will do this tomorrow.

[2017-07-04 10:25] maerteijn commented on #104
@yazanhorani Here you go: https://pypi.org/project/django-oscar-api/

[2017-07-04 10:25] #104 closed

[2017-07-28 10:51] taaviteska opened #105 "ProductPrice & ProductAvailability views result in server error if the matching product is not found"
ProductPrice and ProductAvailability views are using `product = Product.objects.get(id=pk)`.

The exception `Product.DoesNotExist` is not handled correctly.

[2017-09-11 08:04] #105 closed

[2017-11-07 08:23] kooba opened #110 "Customizing LineAttributeSerializer"
Hi,

Thank you for this great project.

I have a question on customizing `LineAttributeSerializer`. When getting basket lines (`basket-line-detail`) I'd like to return option's code with `attributes`. Meta model for `LineAttributeSerializer` is `LineAttribute` (`AbstractLineAttribute`) which has a fk relationship to `catalogue.Option`. I tried few things but I'm not quite sure how to go about retu

[2017-11-08 07:13] kooba commented on #110
Looks like it was pretty straightforward after all. Leaving this for future reference.

All I had to do was to:

add `code` property to oscar's `AbstractLineAttribute`:

[code]
and `code` `serializers.CharField` to oscarapi's `LineAttributeSerializer`

[code]

and then adding `code` to `fields` in `BasketLineSerializer`

[code]

[2017-11-08 07:13] #110 closed

[2017-11-08 09:06] maerteijn commented on #110
Hi @kooba

You're solution is indeed ok and it is documented like this in the djangorestframework documentation.

However, to solve this properly you need to fork the basket app from oscar just to override the `LineAttributeModel` (https://django-oscar.readthedocs.io/en/releases-1.5/topics/fork_app.html), and you needed to override oscarapi's serializers.

You could solve it as well by just overri

[2017-11-08 09:47] kooba commented on #110
Thank you!

Yes of course, all the changes were applied on the fork.

[2017-11-27 10:59] ajithkjames opened #111 "Adding price to product list view"
Do you have a working example of Adding price to product list serializer?

[2017-11-27 18:09] maerteijn commented on #111
There is an example here of how to add images to the product list serializer. In the same way you could add a price as well: https://github.com/django-oscar/django-oscar-api/tree/master/demosite/mycustomapi

Let me know if this is a sufficient example for you.

[2017-12-04 08:30] ajithkjames commented on #111
Thanks for the reply @maerteijn .
I had seen this example from the docs. Added images to the products api that way. But not able to do that with price.
Here is how my serializers.py in the customapi app looks like
`from rest_framework import serializers
from oscar.core import prices
from oscar.apps.partner.models import StockRecord
from oscarapi.utils import (
    OscarModelSerializer,
    overrid

[2017-12-18 12:13] maerteijn commented on #111
Hi @ajithkjames

The price is dependent on the strategy, stockrecord, current user etc. That's why it's a little bit more difficult than just adding a field. See also the django oscar documentation about the Strategy class.

Basically, there are two options:
a) you overrride the view and add the price querying there
b) you override the serializer and add a SerializerMethodField

For the second opt

[2017-12-19 05:58] ajithkjames commented on #111
thanks @maerteijn , It works!!

[2017-12-19 10:58] maerteijn commented on #111
Ok cool. This example will be in the documentation for now on, I'll close this issue now.

[2017-12-19 10:58] #111 closed

[2017-12-28 06:53] umarmughal824 opened #114 "Oscar api for basket does not show **Shipping Discount** in Offer Discounts:"
I have been using oscar api for mobile. I need to show some shipping discounts in the basket api. Like If I apply conditional offer (free shipping above 250 USD). How can I show it to mobile user.

I have made /api/basket/shipping-methods/ api which loads shipping cost and discount for the current user basket. It shows the discounts on matching condition but how will I show the user that what cond

[2018-01-06 14:36] maerteijn commented on #114
For as far I can see a shipping discount which acts like a regular offer discount exists in oscar. So it would mean it will be visible as a regular conditional offer.

I also see this in the basket model:

https://github.com/django-oscar/django-oscar/blob/2f27da2e1e4bb4d1e57a6185bc01ca9e82e4402f/src/oscar/apps/basket/abstract_models.py#L442

So maybe you can serialize this property and see if this

[2018-02-06 10:31] maerteijn opened #120 "Update checkout view (and docs) with billing address"

[2018-03-21 15:05] maerteijn opened #121 "Update middleware to use the MiddlewareMixin"
See https://docs.djangoproject.com/en/2.0/topics/http/middleware/#upgrading-pre-django-1-10-style-middleware and https://github.com/django-oscar/django-oscar/blob/1.5.2/src/oscar/core/compat.py#L74

[2018-03-21 21:25] SalahAdDin commented on #121
@maerteijn can you make a PR?

[2018-03-21 23:26] maerteijn commented on #121
When I have time, I will

[2018-03-22 10:37] SalahAdDin commented on #121
@maerteijn Please, thank you.

[2018-04-19 06:29] gogobook opened #122 "Error in tests"
"settings.OSCAR_MAX_BASKET_QUANTITY_THRESHOLD = None" in testoffer.py and testbasket.py is an error.

[2018-04-19 11:09] maerteijn commented on #122
As you can see on [travis ](https://travis-ci.org/django-oscar/django-oscar-api), the tests do pass. Can you explain a bit more please. "testoffer.py and testbasket.py is an error." is a bit vague.

[2018-04-19 17:00] gogobook commented on #122
When I try to develop oscarapi with oscar(338cb7c), I get "NoneType" error by follow message
[code]
This is some source code of oscar(338cb7c):
[code]
if setup "settings.OSCAR_MAX_BASKET_QUANTITY_THRESHOLD = None" will get TypeError: 'NoneType' object is not iterable.

[2018-04-24 13:54] #122 closed

[2018-04-24 14:49] maerteijn commented on #121
See https://github.com/django-oscar/django-oscar-api/pull/124 When it's merged I'll close this issue

[2018-04-28 06:10] robbiibadi opened #125 "i get this issue builtins.DeprecationWarning"
i try to use django oscar, i install based on documentation, everything iis fine, but when i go to basket url
i get this issue:

`DeprecationWarning: Setting `BasketView.extra` at the class level is now deprecated. Set `BasketView.factory_kwargs` instead.`

[2018-05-01 10:35] maerteijn commented on #125
This is an issue of django oscar, not oscar api. See https://github.com/django-oscar/django-oscar/issues/2688

[2018-05-01 10:35] #125 closed

[2018-05-29 14:49] #121 closed

[2018-06-02 17:18] AdieOlami opened #126 "Add a Category API and a way to filter products based on categories"
I started working with the api and I discovered that the Category is missing. There is no code to return the categories. And how can I show products based on selected category

[2018-06-04 13:11] maerteijn commented on #126
The categories are properties of the `ProductSerializer`, see: https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/serializers/product.py#L109

There is indeed no separate API view for categories.

[2018-06-06 00:15] KingOlami commented on #126
I have asked the question on stack overflow and provided my progress. Kindly check it out https://stackoverflow.com/questions/50667641/displaying-django-subcategories-in-category-json-as-json-child

[2018-08-20 11:43] maerteijn opened #132 "We use `serializer_class` in the views for output but it should be used for input."
That's why all the HTML forms in the Browsable API are all not working. We should fix this in all the views.

[2018-08-29 09:34] umarmughal824 commented on #114
I customized it because by default was not working as expected.

[2018-10-01 12:27] yvandermeer opened #136 "Potential bug in `oscarapi_post_checkout` signal being sent"
In `oscarapi/views/checkout.py`, the "response" argument of the `oscarapi_post_checkout` signal being sent is the entire `rest_framework.response`. I don't think that was the intent of the code.
[code]
Probably should be something like this:
[code]

[2018-10-01 12:30] specialunderwear commented on #136
syntax error after =

[2018-10-01 12:30] yvandermeer commented on #136
Edited to fix syntax error. ;)

[2018-10-01 12:33] maerteijn commented on #136
Nice! It's really handy to have the rest framework response module in the signal instead of the response object :) Going to fix it

[2018-10-01 12:34] specialunderwear commented on #136
I think this is expres really

[2018-10-01 13:28] maerteijn commented on #136
Fixed in 1d92efccb9de215fd7a0c856dac4d8e17a47a2b1, released 1.5.1

[2018-10-01 13:28] #136 closed

[2018-10-15 08:14] creimers opened #137 "Q: Use Oscar via API only in React app"
I would like to integrate django-oscar-api into an existing django-rest-framework <--> React project.

In the django-oscar-api documentation, I'm finding bits and pieces talking about "mixing an Oscar stand-alone website and the API".

Therefore my question: Is it at all possible to make use of Oscar *API only*?

[2018-10-15 08:29] specialunderwear commented on #137
Yeah sure it is. The documentation talks about special action required for using both at the same time.

[2018-10-15 08:36] creimers commented on #137
I see. So if I want use Oscar *API only*, I just don't use it *as it is*, without Basket Middleware or the Header Session Middleware? Will I then still be able to create session based baskets for anonymous users?

[2018-10-15 08:38] specialunderwear commented on #137
yes

[2018-10-15 08:39] creimers commented on #137
Thank you!

[2018-10-15 08:39] #137 closed

[2018-10-18 05:55] ramnivasd opened #138 "How to show price excluding and including offer or discount in product list api"
I am facing such scenario in which I want to show the price of a product which has if any offer is active then show price with the offer and without an offer in product list API.

[2018-10-28 22:50] maerteijn commented on #138
This would be something challenging as offers are applied on your basket and they are depending on a lot of factors: how many items, which products etc.

Could you explain your usecase in more detail?

[2018-10-29 05:01] ramnivasd commented on #138
Thanks for giving some time,
In my case, I have 3 products and I want to give offers on the individual product. This is scenario.
suppose
product 1) price $100
                 discount 10%
                 after discount price $90
product 2) price $100
                 discount 20%
                 after discount price $80
product 3) price $100
                 discount 0%
                 after

[2018-10-29 05:51] specialunderwear commented on #138
That is not something you can do. Because like martijn said, the offers are dependant on much more than a single item. Also the discount is not persé on the product itself, it could also be a discount on shipping. What IS possible is display all offers that might be applicable to a product with the product.

[2018-11-19 14:59] whyscream opened #139 "Incorrect NotAcceptable exception raised"
In https://github.com/django-oscar/django-oscar-api/blob/1.5.1/oscarapi/middleware.py#L87,  a HTTP Not Acceptable (406) is raised when the cookie doesn't match the request. `exceptions.NotAcceptable` is not the correct exception to raise here: HTTP 406 is only suitable for reporting Content Negotiation issues (i.e. the client Accepts `text/html` but the server only supports `application/json`), it

[2018-11-19 15:00] specialunderwear commented on #139
ok is goed

[2018-12-02 04:20] mehmadi opened #141 "CSRF Failed"
I am getting

 message in response to all "session.post"s after the first session post I used to log into the oscar website.
All "session.get"s are successful. I could not figure out how to solve the issue.

I have installed oscar 1.6.4 and oscar api 1.4.1 and my MIDDLEWARE looks like this:
[code]
Any helps are appreciated.

[2018-12-02 08:09] specialunderwear commented on #141
Use only 1 basketmiddleware

[2018-12-02 08:09] specialunderwear commented on #141
And only 1 sessionmiddleware

[2018-12-02 08:09] #141 closed

[2018-12-04 15:29] specialunderwear commented on #141
The error is because you added 2 session middlewares. You can have only 1. also you can have only 1 basketmiddleware. If your settings have 2 of either you will see the error you keep mentioning.

[2018-12-04 15:35] mehmadi commented on #141
Thanks for quick response. Now, my middleware is as below and I still get the error
[code]

[2018-12-04 16:23] specialunderwear commented on #141
I think you are getting a different error now

[2018-12-04 16:24] mehmadi commented on #141
Do you know any other possible reason for this error?

[2019-01-02 07:55] mehmadi opened #143 "retrieve user data for authenticated users"
I am trying to retrieve user fields for every authenticated user. Currently API allows admin users to get access to all user details. I added a few fields to `OSCARAPI_USER_FIELDS` in `settings.py`. Now, I want to allow each user to get access to his/her own user details. I am not trying to make it public (`AllowAny`) or allow all authenticated users to get access to all users data (`IsAuthenticat

[2019-01-11 13:02] jedie opened #144 "Installs "sandbox" package"
It seems that django-oscar-api installs his "sandbox" as a python package.

I get e.g.: `.../lib/python3.6/site-packages/sandbox` and this contains only the [/sandbox/settings/*](https://github.com/django-oscar/django-oscar-api/tree/master/sandbox/settings)

Is that really intended?

btw. "django-oscar-docdata" has exclude his "sandbox", see: https://github.com/django-oscar/django-oscar-docdata/co

[2019-01-14 16:34] maerteijn commented on #144
Thanks, no it should bot be in the distribution.

I fixed this in https://github.com/django-oscar/django-oscar-api/commit/e9f398696ed20d8f2e1e2e507f40affba9da4563

So the sandbox won't be installed anymore in the next release

[2019-01-14 16:42] maerteijn commented on #143
This would be as simple as:
[code]

So just register this view somewhere and add the `IsAuthenticated` permission and you are good to go

[2019-01-15 06:55] mehmadi commented on #143
Excellent! It worked in the python shell. However, because of an old problem I am having a problem retrieving the data for the authenticated user in the server, and it is csrf error (issue #141 ). I was getting this error and found a solution by installing `django-rest-auth` and adding Installed_apps:

[code]

and `authentication_classes` as
[code]

I don't see `csrf failed` error anymore, many of

[2019-01-17 11:03] maerteijn commented on #138
You could indeed retrieve the offers for products which are in the range of that specific offer. So this would be something custom for your specific project. I'll close the issue now.

[2019-01-17 11:03] #138 closed

[2019-01-20 17:44] mehmadi opened #146 "Pagination for products"
Is there any solution to implement **pagination** for getting products' list? It takes a long time to get the list when I have too many products in the store, so I am seeking a way to get the list in several steps/calls (eg. 10 products every time)

[2019-01-21 20:00] maerteijn commented on #146
This is something standard available and configurable with django rest framework.

Please see the documentation [here](https://www.django-rest-framework.org/api-guide/pagination/#limitoffsetpagination)

[2019-02-05 13:43] maerteijn commented on #146
@mehmadi Could you close the issue if this answers your question?

[2019-02-19 13:05] #146 closed

[2019-02-19 15:24] maerteijn commented on #144
Fixed in release 1.5.3

[2019-02-19 15:24] #144 closed

[2019-02-21 11:14] mikedingjan opened #149 "Bug: new basket for all requests to /api/"
The ``ApiBasketMiddleWare`` creates a basket for all API requests, this is checked by ``oscarapi.middelware.IsApiRequest.is_api_request()`` which checks if the url starts with ``/api``. having a own (custom) endpoint mounted at ``/api/whatever`` will also create a basket in the database. since django-healthchecks uses ``/api/healthchecks`` which commonly are used as health checks for AWS ELB that

[2019-02-21 11:36] specialunderwear commented on #149
That is not really accurate:

[code]

Feel free to mount oscarapi at any url you want to.

[2019-02-21 11:36] #149 closed

[2019-02-21 11:51] mikedingjan commented on #149
Still, Django allows to "override" urls, which won't necessarily make it a valid api request that needs a basket.. I've fixed it by overriding the ApiBasketMiddleWare and allow a list of excluded paths, for anyone interested.

[2019-02-21 11:55] specialunderwear commented on #149
You should fix it like this:
[code]

That urls can conflict with django has nothing to do with oscarapi, you can do that with any app.

[2019-02-21 13:06] maerteijn commented on #149
I documented this in a9a1fcffd226eeaab044aa5aee85c910ec8dd0e0

[2019-02-21 13:18] mikedingjan commented on #149
Awesome, thanks! 👍

[2019-02-21 13:27] specialunderwear commented on #149
I made a PR to fix this in https://github.com/django-oscar/django-oscar-api/pull/150

[2019-03-05 13:26] whyscream opened #151 "Don't exclude tests/utils from distribution"
We build lots of our own tests on the tools available in `test/utils.py`. In the 1.5.3 release, the `tests` directory is completely excluded from the distribution. This would mean I have to vendor the contents of `utils.py` into my own application?

Is it possible that we keep the `utils.py` in the distribution, but leave out the actual tests (like the intention was)?

[2019-03-05 13:48] maerteijn commented on #151
Of course. I'll prepare a new release todat

[2019-03-05 16:45] maerteijn commented on #151
Just  released https://github.com/django-oscar/django-oscar-api/releases/tag/1.5.4

[2019-03-05 16:45] #151 closed

[2019-03-13 12:49] parin13 commented on #85
[code]

[2019-03-17 09:16] ehmadzubair commented on #126
Is this still a required feature? Happy to create a PR for this.

[2019-03-17 09:46] specialunderwear commented on #126
Sure go ahead

[2019-03-18 11:49] ehmadzubair opened #153 "Searching Products?"
Hi,

Firstly, i appreciate the effort that's gone into this project. Secondly, just needed to know what's the intended *Searching Functionality* roadmap for django-oscar-api. I'd love for a search backend agnostic API endpoint (which also supports faceted search).

[2019-03-21 19:39] sasha0 opened #154 "Order removal"
Any objections to add API endpoint for order removal with the respect to user admin permission?

[2019-03-22 11:59] maerteijn commented on #154
You could adjust the current [order detail endpoint](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/views/checkout.py#L39) to use `RetrieveDestroyAPIView`. But under normal circumstances it would be better that orders become 'cancelled' or some other state for accounting purposes. What would be your usecase for deleting orders?

[2019-03-27 05:16] ehmadzubair commented on #153
@maerteijn can you shed some light on this?

[2019-03-27 11:11] maerteijn commented on #153
Hi @ehmadzubair

Recently some progress has been made for a new elastic search based search application for Oscar, see https://github.com/django-oscar/django-oscar/pull/2734

When this develops a bit further I can imagine that we would implement a search API endpoint for Oscar API for this.

[2019-04-06 15:36] Pritom-Mazhi commented on #126
@maerteijn I am getting a hard time figuring out how to do this by the django-oscar doc. Can you please help me more explicitly?

[2019-04-09 07:26] ehmadzubair opened #155 "Oscar Signals"
@maerteijn Just found out that no signals are being dispatched related to the product or the user. Is that by design?

[2019-04-09 07:32] ehmadzubair commented on #153
@maerteijn I ended up using [drf-haystack](https://github.com/inonit/drf-haystack) for this.

[2019-04-09 08:48] maerteijn commented on #155
I don't understand which signals you mean and when they should be dispatched?

[2019-04-10 05:35] ehmadzubair commented on #155
@maerteijn So there's the following signal which should be dispatched whenever a product is viewed.

[code]

Should we be dispatching it in the `ProductDetail` view?

[2019-04-11 10:42] maerteijn commented on #155
Ah, now I understand what you mean.

The signal you mention is meant for a case when an end-user is looking at the product in a frontend of the webshop. This is not necessarily the case when using the REST API, so that is why it is not included  per default.

However, overriding the view and  triggering it for your project is really easy to do.

[2019-04-11 10:50] ehmadzubair commented on #155
@maerteijn Yep. Just did it.

[2019-04-12 07:31] maerteijn commented on #155
👍

[2019-04-12 07:31] #155 closed

[2019-05-07 12:31] specialunderwear commented on #33
Implemented in #157

[2019-05-31 09:36] specialunderwear commented on #126
Category api has been added in #158

[2019-06-03 14:53] mhoonjeon opened #162 "Any plans for supporting django-oscar 2.0b1 or the 2.x?"
I have installed django-oscar==2.0b1 and django-oscar-api==1.5.4.

A lot of things seems to be broken at the moment, and I cannot get past `python manage.py migrate` in README.

According to the django-oscar release note, the django-oscar have gone through some major backward-incompatible changes; one of which is the removal of `application` variable and using the django's default app registry ins

[2019-06-03 14:54] specialunderwear commented on #162
See #156

[2019-06-03 14:57] maerteijn commented on #162
@mhoonjeon We are working on it. Expect some results and even a release the following week(s)

[2019-06-03 14:59] mhoonjeon commented on #162
@specialunderwear @maerteijn Couldn't expect a faster response. Thanks!

[2019-06-04 07:43] mhoonjeon opened #163 "Handling cursorpagination: default ordering field"
I'm trying to use this library for our new service that need ecommerce-related backend APIs.

I have DRF's CursorPagination as our default pagination class. This orders queryset with `created` field, assuming that `there must be a 'created' timestamp field on the model instances`.

Django-oscar, however, seems to have `date_created` as the default timestamp field.

This means either of our previou

[2019-06-04 07:49] specialunderwear commented on #163
This is not the place to ask for support, especially not support on django restframework. Please try using LimitOffsetPagination

[2019-06-04 07:49] #163 closed

[2019-06-04 08:42] maerteijn commented on #163
The docs of DRF clearly explain how you can specify the ordering field: https://www.django-rest-framework.org/api-guide/pagination/#details-and-limitations

This is the way how to do it.

[2019-06-04 09:23] mhoonjeon commented on #163
@specialunderwear @maerteijn Thanks. I'll be more careful with questions next time :)

[2019-06-04 10:05] specialunderwear commented on #154
I think there is no objection to implementing this as an admin api. See #158

[2019-06-04 11:23] maerteijn commented on #154
@sasha0 Is it still relevant for you? We could add it to the admin api indeed.

[2019-06-04 11:25] sasha0 commented on #154
Original case is not relevant any more, however it still might be helpful to add it to the admin API.

[2019-06-06 07:16] dipen30 opened #165 "Should merge only Open baskets not Saved basket"
https://github.com/django-oscar/django-oscar-api/blob/96293943d0741d7b95961cc83b32d0882f01ace1/oscarapi/basket/operations.py#L92

I am using oscar apis to create mobile app and I found that here API is trying to merge Open and Saved basket which is wrong.

I have one saved basket which is created using website and when I try to add any product from API it is merging both basket for same users inst

[2019-06-06 07:24] specialunderwear commented on #165
Indeed you are right.

[2019-06-06 09:34] #165 closed

[2019-06-06 09:35] maerteijn commented on #165
Fix will be shipped with the next release

[2019-06-07 17:53] samitnuk opened #169 "Inconsistency in the names of some settings"
I noticed that the names of some settings do not consistent with all other settings.

https://github.com/django-oscar/django-oscar-api/blob/ab8e992153311796b010cb60a9fdfb7dab7a986d/oscarapi/serializers/checkout.py#L144
[code]

https://github.com/django-oscar/django-oscar-api/blob/ab8e992153311796b010cb60a9fdfb7dab7a986d/oscarapi/serializers/checkout.py#L199

[code]

If you think this is something

[2019-06-08 18:36] specialunderwear commented on #169
Go for it!

[2019-06-11 12:06] maerteijn commented on #169
No need for backward compatibility BTW, this will be clearly explained in the release notes and people need to adjust this after upgrading. So just adjusting this to proper names is sufficient.

[2019-06-11 13:45] Andruten commented on #132
I'm working on it. I've started with the basket views. Can i also change some APIView with a generic view?
I'll create a pull request with the work in progress.

[2019-06-11 14:52] specialunderwear opened #171 "Implement skipped tests"
There are 3 tests that are skipped.
They are stubs that need implementations.
Anyone that wants to contribute, feel free!

[2019-06-11 14:53] #33 closed

[2019-06-11 14:53] #126 closed

[2019-06-12 15:20] #169 closed

[2019-06-16 03:08] vishwa8545 opened #174 "Do you have a working example of Adding price to product list serializer?"

[2019-06-16 06:53] maerteijn commented on #174
See the 1.5.x branch: https://github.com/django-oscar/django-oscar-api/blob/1.5.x/demosite/mycustomapi/serializers.py

[2019-06-19 18:36] samitnuk opened #175 "WDYT about adding `pytest`?"
With `pytest` we will be able to remove `self.assert*`s with builtin `assert`. I think this gives at least two pros:
- Improves tests readability (+ adds proper syntax highlighting everywhere);
- Outputs better/more understandable logs for failed tests.

I understand that this will add additional dependencies (`pytest`, `pytest-django`), but if you think that this can be useful, I will try to add

[2019-06-19 22:45] specialunderwear commented on #175
Hi thank you for bringing this up. We are actually not using pytest on purpose and by design. There are various reasons for this.

First, we really do not want to add any unnescessary dependencies. To me pytest offers nothing more than a different way of stating things. Not only is that against the zen of python, but it is not useful at all to beginners that learn from the django docs.

To me pyte

[2019-06-20 07:25] maerteijn commented on #175
Just some extra notes:
- pytest can also run the existing tests as is, no need to rewrite them to pytest specific syntax
- pytest nowadays gives some clear and readable output, so it would improve readability of failed tests, but this is personal preference

So it is already possible to use the pytest runner for personal preferences without touching the current tests

[2019-06-22 06:53] samitnuk commented on #175
@specialunderwear @maerteijn
Thank you for your answers. They are very interesting and cognitive. Totally agree that "this is personal preference" since `pytest` is just one of many tools.

I think I am more familiar with `pytest` because mostly all projects I worked with are using it (e.g. Oscar). I used it to run the current tests as well 😉

Should we close this issue now?

[2019-06-22 07:39] #175 closed

[2019-06-22 09:19] maerteijn commented on #171
These are now merged in #173

[2019-06-22 09:19] #171 closed

[2019-07-02 02:24] mhoonjeon commented on #146
This is for anyone trying to use CursorPagination with oscar-api

1. DRF's custom cursor pagination's ordering field is `created` by default.
2. Most of the models in django-oscar do not have `created` as model field. Most of them have either `date_created` or not have any timestamp-related field at all(ex. Country Model, ProductClass Model etc.)
3. In this case, you have to override DRF's CursorP

[2019-07-02 02:29] mhoonjeon commented on #163
This is for anyone trying to use CursorPagination with oscar-api

1. DRF's custom cursor pagination's ordering field is `created` by default.
2. Most of the models in django-oscar do not have `created` as model field. Most of them have either `date_created` or not have any timestamp-related field at all(ex. Country Model, ProductClass Model etc.)
3. In this case, you have to override DRF's CursorP

[2019-07-16 13:35] specialunderwear commented on #132
No you can not change APIView to a generic view because that would disable all the permissions and also the response format stuff. It would be really difficult to recreate all that.

[2019-08-09 08:33] mhoonjeon commented on #162
Hi, any updates on this issue yet?
The related PR #156 seems to be almost complete. Any plans for releases?
Thanks.

[2019-08-09 14:46] maerteijn commented on #162
Hi @mhoonjeon ,

You could help by testing the branch and report any issues you find:
[code]
When no issues are found I could do a release the following week.

[2019-08-11 01:53] mhoonjeon commented on #162
@maerteijn Okay. I will have a look and see what I can do this week. In the meantime I really appreciate what you have done! Thanks!

[2019-08-25 02:27] mhoonjeon commented on #162
@maerteijn I having a look. But mostly seems fine. Except I found a type in the doc maybe.

The part where you explain how to add product to the basket seems to contain invalid json payload.

[code]

Above should probably be modified as below.

[code]

[See Here](https://github.com/django-oscar/django-oscar-api/blob/oscar-2.0/docs/source/usage/communicate_with_the_api.rst#add-products-to-the-baske

[2019-08-26 07:34] #174 closed

[2019-08-26 07:39] maerteijn commented on #162
Thanks for the feedback, fixed the typo in fc670c51cd54ff1b64ac595cac317f6a240a21c8

[2019-08-26 11:34] maerteijn opened #184 "Extend `construct_id_filter` to also check for Django 2.2+ `UniqueConstraint`"
The current [construct_id_filter](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/utils/exists.py#L31) implementation does not take the Django 2.2+ `UniqueConstraint` definitions  into account.

This could become a problem when:
- Oscar's `unique_together` constraints are converted to `UniqueConstraints` definitions
- Custom models which don't rely on the base model when havi

[2019-08-27 09:03] mhoonjeon commented on #162
I this you forgot to change "options" to key-value, which should be the right format to represent JSON. I think it should be

[code]

not
[code]

[2019-08-28 05:37] Patil2099 commented on #184
@maerteijn Can I work on this issue? Also, Can You Explain what I have to do a bit more?
Thanks

[2019-09-09 16:34] maerteijn commented on #162
Fixed your comment  and released version 2.0: https://pypi.org/project/django-oscar-api/2.0.0/

[2019-09-09 16:34] #162 closed

[2019-09-09 16:34] #153 closed

[2019-09-25 02:36] mhoonjeon opened #188 "Error when accessing serializer.data that contains price-related fields (For example, CheckoutSerializer)"
I overrode the checkoutserializer(added an extra `sender_info` field), so I was writing some tests on the serializer itself.

[code]

The raised error was `decimal.InvalidOperation: [<class 'decimal.ConversionSyntax'>]`.

I error message was not clear at first, so I did some digging in, and I found that the error was raised within the serializer's `to_representation` block.

[code]
It seems the `a

[2019-10-07 08:22] specialunderwear opened #189 "Admin order line view is broken"
While the regular order line view works just fine and shows only the lines that belong to the order, the admin order line view is terribly broken and just shows all lines for any order.

[2019-10-21 09:53] samitnuk opened #193 "[question] Why `OSCARAPI_BLOCK_ADMIN_API_ACCESS` is `True` by default?"
After upgrading `django-oscar-api` from version w/o this setting to version with this setting firstly it is hard to understand why many tests in a project are failed with an error like:
[code]

But with `OSCARAPI_BLOCK_ADMIN_API_ACCESS = False` all tests work as expected. I may be wrong, but probably this setting should be set to `False` by default for backward compatibility.

Also in the `sandbox

[2019-10-21 10:08] specialunderwear commented on #193
Can you give an example of your tests? The admin api is disabled by default because you might give exting api users a lot of access that is not deliberate.

[2019-10-21 10:11] specialunderwear commented on #193
maybe there are just some urls that are now part of the admin api that should be in the general api?

[2019-10-21 10:49] samitnuk commented on #193
A very simple test can be used here - e.g. checking the correctness of data in a basket line (after product adding). Because the `stockrecord` field is included in `OSCARAPI_BASKETLINE_FIELDS`, with `OSCARAPI_BLOCK_ADMIN_API_ACCESS = True` a user will get the error described above.

To keep a project that uses `django-oscar-api` in the same state (as before upgrading), we need to set this setting

[2019-10-21 11:05] specialunderwear commented on #193
hmm ok I think we need to change the test suite to test all the non admin apis in a ```OSCARAPI_BLOCK_ADMIN_API_ACCESS=True``` environment

[2019-10-21 11:05] specialunderwear commented on #193
And then fix all breaking tests

[2019-10-21 19:16] maerteijn commented on #188
Not really sure here what you are trying to fix, or what you are doing (the explanation is a bit), but it looks like the [OrderTotalCalculator](https://github.com/django-oscar/django-oscar/blob/f2bb0fb73c83cb879fb2dec9184059dd96d814e0/src/oscar/apps/checkout/calculators.py#L22) is returning a [Price](https://github.com/django-oscar/django-oscar/blob/f2bb0fb73c83cb879fb2dec9184059dd96d814e0/src/osc

[2019-10-22 12:43] #189 closed

[2019-10-23 07:50] maerteijn commented on #188
As already thought, the input type for the `total` field is a `Decimal`, in the validate method we change this to a `Price` instance returned by the `OrderTotalCalculator`. We should not do this, see the pull request.

BTW, accessing the data attribute is a bit funky here as the `CheckoutSerializer` does not really fit into the normal" Django Rest Framework serializing objects" way of working.

Se

[2019-10-25 18:21] specialunderwear opened #196 "README is incomplete"
It should mention to add restframework to INSTALLED_APPS or the html api does not work

[2019-10-28 09:01] #196 closed

[2019-10-28 09:02] maerteijn commented on #188
@mhoonjeon The pull request is merged, see the comments above. Thanks you your input, closing this issue now

[2019-10-28 09:02] #188 closed

[2019-10-29 05:04] mhoonjeon commented on #188
@maerteijn Sorry I checked this feedback a little late; I used gitlab for work most of the times :). Thanks for the feedback and I really appreciate how much you guys have put into this open source project. Keep up the good work

[2019-11-07 09:52] maerteijn commented on #193
@samitnuk PR #195 is now merged which should fix all issues related to this setting. Could you maybe try it with the master branch and report your findings before I release 2.0.1 ?

Thanks!

[2019-11-07 13:56] samitnuk commented on #193
@maerteijn Thanks!

I will check it asap.

[2019-11-08 08:51] samitnuk commented on #193
@maerteijn Works fine for me. Many thanks!

I found a couple of small typos and unused imports - PR #198 (in case you will want to include it in the new release)

[2019-11-08 15:20] maerteijn opened #199 "Add pylint/flake8 to improve code quality and detect unused imports"

[2019-11-08 15:21] maerteijn commented on #193
Thanks for testing! I merged your PR as well. I'll check if I have time to implement #199 next week so the unused imports (and other stuff) will be checked automatically.

[2019-11-08 15:22] #193 closed

[2019-11-10 16:23] maerteijn commented on #199
I added a flake8 checker which is 100% compatible with black. Also added a bugbear plugin. This is sufficient for at least the basics (unused imports, code complexity, unused variables and some other stuff).

See  #201

pylint looks good but I'm not experienced with it and it takes a lot of refactoring on first sight. I don't see a useful use-case for it right now.

[2019-11-10 16:23] #199 closed

[2019-11-26 15:59] EnriqueSoria opened #204 "[Question] Stripe integration"
I'm trying to integrate Stripe with django-oscar-api. We don't plan to use classic django-oscar (only the API), so I'm not sure where to put my code.

Could you give me a hint?

[2019-11-26 16:08] specialunderwear commented on #204
You need to implement a view named 'api-payment' which redirects to the payment provider and sets up the callbacks.

[2019-11-26 16:09] specialunderwear commented on #204
See the docs here: https://django-oscar-api.readthedocs.io/en/latest/usage/communicate_with_the_api.html

[2019-11-26 16:19] EnriqueSoria commented on #204
Thanks for answering so quickly!

I have done what you said, and this is the point where I'm lost. My question is:
After paying, how do I tell oscar-django that the payment is done?

[2019-11-26 16:21] specialunderwear commented on #204
You have to implement all the payment callbacks yourself. Have a look at existing payment plugins for details

[2019-11-26 16:39] EnriqueSoria commented on #204
Would it be something like this ok?

[code]

[2019-11-27 11:10] twil opened #205 "`cookie_key` is rewriten in `ApiBasketMiddleWare.process_response()`"
This line https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/middleware.py#L202

[code]

overwrites line `196` if `cookies_to_delete` is not empty

[code]

[2019-11-28 13:41] maerteijn commented on #205
You are right and this can be considered a bug.

Need to fix this and probably write a test for it

[2019-11-28 16:01] maerteijn commented on #205
@twil
I expected the following test to fail, see https://github.com/django-oscar/django-oscar-api/commit/658090e4fe70da6c7bcc88dbfc078b7a45e8a1f8#diff-f35e3692dec538e7c17d3cb43da39e2eR141

But it isn't, probably due to https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/middleware.py#L163.

So yes, the code needs to be changed, and now I think it's even not needed. But I'm not su

[2019-11-28 22:04] twil commented on #205
@maerteijn yep, spooky indeed:)

The test doesn't fail because `cookies_to_delete` is empty. I see how it can be used but can't find _where_ it is used.

[2019-12-03 16:08] #204 closed

[2019-12-09 09:05] maerteijn opened #206 "Travis CI Segfaults out of a sudden"
The Travis CI builds all fail with segfaults. This happened before and could be solved by installing newer (or older) versions of sqlite3.

This time however, the trick does not work, so it needs more investigating. I'll try to reproduce in a docker build so we can reproduce failed builds locally.

[2019-12-14 21:18] maerteijn commented on #206
Can't reproduce the segfault with https://github.com/django-oscar/django-oscar-api/blob/master/Makefile#L30

I filed a ticket with Travis to investigate this

[2019-12-20 09:49] maerteijn commented on #206
I'll have SSH access soon to one of the travis machines so I can run a debug session there.

[2019-12-20 12:22] maerteijn commented on #206
I can reproduce now and able to fix it. Iur travis config was still running on xenial (I really thought we where already on bionic), updating it to bionic solved the problem. See also #208

[2019-12-20 12:22] #206 closed

[2020-01-22 10:40] vjgarcera opened #210 "Is it safe to use HeaderSessionMiddleware with React?"
Hi,

we're developing a React site that will be served from a CDN and we are using Oscar and Oscar API for the backend. Our objective is to serve the same application in different domains so using a cookie is not an option because we would like to maintain user's basket across domains.

We've been using HeaderSessionMiddleware for managing Anonymous baskets generating our Session-Ids in React. Onc

[2020-01-22 10:45] specialunderwear commented on #210
No it is not safe. You can only use HeaderSessionMiddleware with trusted clients. This is explained in the documentation. A web browser is NOT a trusted client.

[code]

[2020-01-22 10:47] vjgarcera commented on #210
Yes, that's what I was thinking. So, what do you think is the best option I have? Any of that I suggested or another?

Thank you for your quick response, that has been awesome.

[2020-01-22 10:52] specialunderwear commented on #210
I can't really comment on that. there are many things to look into. Cookies for multiple domain script access headers etc. I would look into all of those before writing any python code.

[2020-01-22 10:53] vjgarcera commented on #210
Okay, thank you very much again, I'll investigate it.

[2020-01-22 10:53] #210 closed

[2020-02-17 16:35] Allan-Nava commented on #80
the example doesn't exists

[2020-02-29 11:13] noodlebreak opened #211 "Need help regarding few things I find missing"
So I was considering using django-oscar to spin up quickly an ecommerce store with basic stuff - products, categories, reviews, ratings, users login, addresses, order, etc

But I also needed just the REST API from the backend, not everything that django-oscar gives out of the box. Naturally, after searching, I landed here.

So I was going through the docs and playing around, and first of all, kudo

[2020-03-03 09:24] maerteijn commented on #211
Hi @noodlebreak

The customization documentation is written for an override method that is specific for OscarAPI. Note that it is possible to override almost every aspect of OscarAPI with it, just plug in your own serializers and views where needed (_configuring returning full JSON of product snapshot_ could be  easily be done with this).

Note that OscarAPI is a Django Rest Framework application,

[2020-03-12 12:43] asadali145 opened #212 "No pagination used for listing"
If data contains millions of records for products then there is no pagination used for the listing.

[2020-03-12 12:47] #212 closed

[2020-04-23 09:17] jayvdb opened #214 "Errors generating a schema"
I have installed https://github.com/django-oscar/django-oscar-api/pull/213 , and tried the core DRF and numerous custom API generators (drf-yasg, drf-spectacular, etc) and they all have these errors, and many many more:

[code]

[2020-04-23 10:37] jayvdb commented on #214
I have been able to get a schema generated by crafting hacks around two issues raised at https://github.com/tfranzel/drf-spectacular/issues/jayvdb

[2020-04-25 05:51] jayvdb commented on #214
drf-spectacular `master` now works well, if https://github.com/django-oscar/django-oscar-api/pull/213 is used.

I get 100+ warnings related to oscar-api after that PR, but not many appear serious.

[2020-05-27 08:02] saxatachi opened #215 "ChildProductserializer"
Can you tell me why i cant overwrite ChildProductserializer.
Everything is working  fine with ProductLinkSerializer and OptionSerializer but for ChildProductSerializer even Meta is not working.
Did i miss something ?
**mycustomapi/serializers/product.py**
`

    from rest_framework import serializers
    from oscar.core.loading import get_class
    from oscarapi.serializers import checkout, produc

[2020-05-27 16:18] saxatachi commented on #215
Sorry my mistake

[2020-05-27 16:18] #215 closed

[2020-06-01 13:19] #211 closed

[2020-06-01 13:22] maerteijn commented on #214
Will close as #213 is merged now.

[2020-06-01 13:22] #214 closed

[2020-06-01 14:47] jayvdb commented on #214
Great.  drf-spectacular has a dedicated docs for this API
https://drf-spectacular.readthedocs.io/en/latest/blueprints.html#django-oscar-api

[2020-06-09 14:34] maerteijn commented on #205
For future reference Related branch: https://github.com/django-oscar/django-oscar-api/tree/fix-cookie-key-bug-in-middleware

[2020-06-10 18:14] SkiFamily opened #217 "Overriding Serializers"
hi,
 I am looking to override the serializers in order to add the price object directly into the product response.

I have found
https://github.com/django-oscar/django-oscar-api/blob/master/override-example/mycustomapi/serializers/product.py
which helps alot even if I don't fully understand what is happening in the get_price method yet.

What I would like to know is how to tell oscarapi to take in

[2020-06-18 19:48] bkjones opened #218 "API versioning causes "unexpected keyword argument 'version'" at api_root"
I have a brand new project using DRF 3.11.0, Oscar 2.0.4, and oscarapi 2.0.2, my urls.py looks like this:

[code]
I'm using DRF URLPathVersioning. When I hit the API root at `http://localhost:8000/api/v1/` I get an error:
[code]
However, I am able to hit other URLs that are provided/exposed by oscarapi, for example `/api/v1/products` works. In addition, our own app's DRF views work and they're rea

[2020-06-19 08:41] maerteijn commented on #218
The `api_root` view is not a class based view but a really simple view function:
[code]
So it won't take any parameters other than `format`. OscarAPI was not intented to be developed to have multiple version support in the same codebase so it was never tested with the [version schemes ](https://www.django-rest-framework.org/api-guide/versioning/#versioning) available in Django Rest Framework.

I g

[2020-06-19 12:36] bkjones commented on #218
Thanks, I appreciate you checking it out!

My understanding is that the `api_view` decorator wraps the decorated function in a class that subclasses DRF's APIView. That being the case, it can be treated like a class, so, I'm trying to override it. OscarAPI sees, loads, and executes my override (yay!) but I'm still struggling a bit (this is my first time doing anything with oscarapi). This would de

[2020-06-23 13:35] maerteijn commented on #217
@SkiFamily Did you figure out how you can do this?

[2020-07-02 21:05] maerteijn commented on #218
You should not add the `@api_view()` decorator again to your overriden view. Then you can call the original `oscar_api_root` without any problems.

But that will only 'fix' this particular view, and there are more in OscarAPI which don't accept any extra arguments.

I have a structural [fix](https://github.com/django-oscar/django-oscar-api/commit/88760e3a5ce49b5e47ddb1e6f328e59ee5519f71l) waiting

[2020-07-03 11:44] maerteijn commented on #217
Closed due too inactivity.

[2020-07-03 11:44] #217 closed

[2020-07-13 21:08] jcbeck37 commented on #153
I'd love to know more about how you did this. I've recently been digging into doing the same, but it does seem tough to get the product index to work the way I need. I imagine once I'm further along in understanding customization, I can overwrite the ProductIndex class and adding the PK!

[2020-07-17 11:14] SkiFamily commented on #217
Sorry @maerteijn I didn't see the notifications from your replies.

The link to the documentation was very usefull thank you very much, however I still havn't managed to ovveride the ProductSerializer

I have defined the customApi directory as follows:

![image](https://user-images.githubusercontent.com/64605675/87780477-19cb6680-c82f-11ea-879c-a49c1782b3d6.png)

I then defined
`
OSCARAPI_OVERRIDE

[2020-07-17 14:11] SkiFamily commented on #217
Found my problem
`OSCARAPI_OVERRIDE_MODULES = ["ski-family-django.apps.OscarCustoms.oscarapi"]`
should have been
`OSCARAPI_OVERRIDE_MODULES = ["apps.OscarCustoms.oscarapi"]`

[2020-07-21 04:50] solarissmoke opened #220 "APIGatewayMiddleware does not work for valid API keys"
When a valid API key is found [by the APIGatewayMiddleware](https://github.com/django-oscar/django-oscar-api/blob/e31235e6218879a98a7e6650ff424176c2684c87/oscarapi/middleware.py#L134-L135) it returns `None`, which is an invalid return value. It results in a 500 error when Django's view logic attempts to handle the returned response:

[code]

If the key is valid then the normal middleware handling

[2020-07-21 13:35] maerteijn opened #222 "Release an Oscar 2.1 compatible version"
As Oscar 2.1 is released now I need to review #216 and release `django-oscar-api` 2.1.

[2020-07-21 13:37] #220 closed

[2020-07-21 13:37] maerteijn commented on #220
Thank you for the fix!

[2020-07-22 13:51] bkjones opened #223 "Please create a user registration endpoint in the api"
The first thing new API-based projects need to do is be able to register a new user, and it's one of a handful of things missing from oscarapi. I'm doing this implementation myself now, and I'm new to Oscar too, so it's taking a while. It's too late for me, but if this endpoint were already there, it would save future devs a lot of time & headache if they're also new to Oscar.

If I've missed some

[2020-07-23 06:49] mhoonjeon commented on #223
In my case, I used [dj_rest_auth](https://github.com/jazzband/dj-rest-auth) from Jazzband. I think this library does what you ask for pretty well and it is well maintained.

[2020-07-24 16:07] MLI-DS opened #224 "Using Overriden Serializer in custom Object Serializer"
Hi,

This is more of a question on how to use the package then a potential issue with the package

I have overriden my product serializer like so:

[code]

And defined

`OSCARAPI_OVERRIDE_MODULES = ["apps.OscarCustoms.oscarapi"]`

and the product end point has been properly overwritten and outputs the desired json ( see https://stage.ski-family.fr/api/products/210/ )

Now I would like to add this

[2020-07-24 19:11] maerteijn commented on #224
Does it help when you try it like this:

[code]

[2020-07-24 19:13] maerteijn commented on #218
The fix is merged now, so it will be there in the next release.

[2020-07-27 09:07] maerteijn opened #225 "Migrate Travis to Github Actions"
Some advantages:
- Better integration in Github
- A bit faster
- Includes credential and secret management so I can automate releases to pypi

[2020-07-27 13:00] maerteijn commented on #223
I think it would make sense to have a register user endpoint which triggers the sending of an registration email, like is done in Oscar with the [RegisterUserMixn]( https://github.com/django-oscar/django-oscar/blob/645d6dabcda884e46c93217e00ab52c2b25c2590/src/oscar/apps/customer/mixins.py#L41)

I'll consider implementing it.

[2020-07-31 10:19] jayvdb opened #226 "NUL in category paths causes server error"
Arguably `%00` should be handled in DRF or even Django, and maybe it is and I need to enable some voodoo setting.
[code]

[2020-08-01 10:48] Mohindharan commented on #111
@maerteijn this example is not valid anymore please reopen the issue.

[2020-08-02 06:59] maerteijn commented on #111
@Mohindharan There is a working example in the documentation, see the part of customizing oscar api, so no need to reopen this issue.

[2020-08-02 07:25] jayvdb opened #227 "OverflowError: Python int too large to convert to SQLite INTEGER"
Similar to https://github.com/django-oscar/django-oscar-api/issues/226, using schemathesis, I run into a *lot* of

There is one issue in DRF about this

https://github.com/encode/django-rest-framework/issues/7134

And I intent to raise another one, and submit a PR for one, but it occurs all over the place and need a few local patches until Django core takes up the issue themselves.

Here are a few

[2020-08-03 12:23] maerteijn commented on #227
Thanks for the effort and the report but this has unfortunately nothing to do with OscarAPI.

I also think that this is not something DRF should handle, as it's something specific to sqlite3 and it's integer value limitations. It's a low level exception that says to you that your having a serious problem. So the "Internal Server Error" is actually something you want to see (and not be replaced in

[2020-08-03 12:23] #227 closed

[2020-08-03 12:26] maerteijn commented on #224
@MLI-DS Did you try the above and did it help?

[2020-08-03 12:45] jayvdb commented on #226
fwiw, I have done full runs of schemathesis for anon and logged in user, and other than #227 which is Sqlite specific , `/categories/{breadcrumbs}/` is the only endpoint where I encountered this type of problem in Oscarapi.  IMO that is pretty good.

[2020-08-03 12:54] maerteijn commented on #226
I will check this to see if oscarapi need to do some more validation in `utils/categories.py`. Keep you posted!

[2020-08-03 14:48] jayvdb commented on #227
Thanks for merging https://github.com/django-oscar/django-oscar-api/pull/228 - your reasoning there is why I put up that patch - it at least channels these errors through one pathway.

Your reasoning here is exactly why I didnt put up the hackier fixes.  I agree the problem isn't OscarAPI, as I see it in other apps also.

However IMO it "should" be fixed in DRF core, as the very large ID that it i

[2020-08-03 15:20] maerteijn commented on #227
A 404 in a GET query would something I'd say is worth discussing in the implementation of the DRF specific part where it occurs. You already opened up https://github.com/encode/django-rest-framework/issues/7448 which is the right place for it I guess.

[2020-08-04 16:02] maerteijn commented on #226
@jayvdb I'm not really able to reproduce the problem locally (or in a testcase). Curl shows me what I expect it will show:
[code]

 Can you provide me details of the versions of:

- `django`
- `django-rest-framework`
- `django-oscar`
-  `oscarapi`

And if you are able to reproduce this, could you:
- Provide me the steps to reproduce, or
-  Add a pdb [on this line](https://github.com/django-oscar/d

[2020-08-18 09:13] maerteijn commented on #226
@jayvdb Any chance you could provide me some info so I can reproduce this?

[2020-08-18 09:14] maerteijn commented on #224
Closing issue due to inactivity

[2020-08-18 09:14] #224 closed

[2020-09-04 13:32] domface opened #236 "Trying to Extend Serializer leads to a cavalcade of Could not resolve URL for hyperlinked relationship using view name erros"
I'm trying to extend the Serializers as per `OSCARAPI_OVERRIDE_MODULES` and trying to use our own internal api URL scheme, however, these URLs are behind namespaces, and thus i keep getting

`Could not resolve URL for hyperlinked relationship using view name "user-detail". You may have failed to include the related model in your API, or incorrectly configured the `lookup_field` attribute on this f

[2020-09-05 19:58] maerteijn commented on #236
@domface Not quit sure what you are trying to do. If you could create an easy reproducable example repository I can take a look and see what I can do.

[2020-09-05 20:01] maerteijn commented on #226
Please reopen when you found a way to reproduce this as requested above.

[2020-09-05 20:01] #226 closed

[2020-09-08 06:36] RasoulRostami opened #237 "where is oscarapi_post_checkout reciver"
in `oscarapi/views/checkout.py ` `oscarapi_post_checkout.send(...)` is called. but it has not any receiver. why do you use it or where is it's receiver ?

[2020-09-08 06:49] maerteijn commented on #237
There isn’t a receiver in oscarapi, it’s there for convenience if you want to subscribe to it in your own project.

Please read the Django documentation about signals for more information.

[2020-09-08 06:49] #237 closed

[2020-09-13 19:02] believemanasseh opened #240 "Unable to setup on my local environment"
I keep getting this error `oscar.core.exceptions.AppNotFoundError: Couldn't find an app to import partner.availability from
` when I run migration or server.

[2020-09-13 19:48] #240 closed

[2020-09-16 11:11] maerteijn opened #241 "User detail: add separate serializers and views"
So we can have:

- A separate `UserDetail` view for the Admin API (with `CreateUpdateDestroy` enabled)
- Default return your own user information (`username`, `email`, `date_joined`) for displaying in your front-end applications. This can be enabled or disabled with a setting
- Also make sure the `UserDetail` data is accessible in your basket and order (owner)
- Different default field settings fo

[2020-09-16 11:12] maerteijn commented on #241
And while we are at it, make `date_joined` a read-only field

[2020-10-06 20:20] maerteijn commented on #236
@domface Closing now, please reopen this if this is still an issue and you can provide me an example repository.

[2020-10-06 20:20] #236 closed

[2020-10-07 18:09] hackeraks commented on #204
@EnriqueSoria would you mind sharing code how you have implemented this ?

[2020-10-26 08:51] maerteijn commented on #241
Fixed in #244

[2020-10-26 08:51] #241 closed

[2020-11-02 15:50] #223 closed

[2020-11-02 15:52] maerteijn opened #248 "Add support for surcharges"
Added in django oscar 2.1: https://django-oscar.readthedocs.io/en/2.1.0/releases/v2.1.html so we should add those to the order serializer

[2020-11-02 15:53] maerteijn opened #249 "Add support for Oscar 3.0"
Some price related fields are renamed so we should make Oscar API compatible.

[2020-11-08 17:09] hackeraks opened #250 "Need Help with Shipping Status."
I see that we have two status with respect to Orders. One per Order status which show Status of Order (IMHO show datetime of any transition) and there is another which tracks the shipping status of each orderline. In-order to show status of Order and shipment transition states like : Order placed -> packed -> shipped -> Received at Local delivery Hub -> Out for Delivery -> Delivered etc
I couldn't

[2020-11-09 10:22] maerteijn commented on #250
Not quite understand what your question is, but my guess is that you want to get the status of an order via the API.

The [OrderSerializer](https://github.com/django-oscar/django-oscar-api/blob/master/oscarapi/serializers/checkout.py#L176) contains a [status](https://github.com/django-oscar/django-oscar-api/blob/d197b5fbe19f14dfeca00c888d86c26543917246/oscarapi/serializers/checkout.py#L235) field,

[2020-11-09 11:01] hackeraks commented on #250
The Status provide in  OrderSerializer is status for an Order. What I am looking for is as below...
1. Provide user a way to track the order i.e Status of order when was the state changed example Shipped (Currently it show order_place_date and doesn't include any transition date)
2. Per orderline status like "Product dispatched" and subsequent transition of it. for example : "Arrived at  Local Hub

[2020-11-09 12:31] maerteijn commented on #250
Ah ok, so you want to know WHEN statuses have been changed, that makes sense.

This is implemented in Oscar with Shipping Events: https://github.com/django-oscar/django-oscar/blob/01a658c44b1231fffb92db0e95c62dda7c98a704/src/oscar/apps/order/abstract_models.py#L962

We don't provide this (yet) in the API but would be really useful. So we would need to add a `ShippingEvent` serializer to the orders

[2020-11-10 08:04] maerteijn commented on #248
Merged in #251

[2020-11-10 08:07] maerteijn commented on #222
The master branch is sort of ready now for the 2.1 release, some things left to do:

- [ ] Reverify changes in Oscar 2.1 and see if changes are needed
- [ ] Update documentation
- [ ] Add changelog

[2020-11-13 14:49] maerteijn commented on #248
Released in version 2.1.0

[2020-11-13 14:49] #248 closed

[2020-11-13 14:50] maerteijn commented on #222
Version 2.1.0 is released now

[2020-11-13 14:50] #222 closed

[2020-11-13 14:50] maerteijn commented on #218
Released in version 2.1.0

[2020-11-13 14:50] #218 closed

[2020-11-17 14:17] Mohindharan commented on #111
thanks you for updating the docs

[2020-12-05 08:48] theArsalanM opened #254 "Oscar-api Order Placement issue"
From Django-oscar's code, an Order is placed by calling `handle_order_placement(...)` from `apps/checkout`.
[code]

This works perfectly fine for oscar, but in **django-oscar-api's** implementation of Order placement, I wonder why `place_order(...)` is called directly instead of sticking to oscar's default approach? Maybe we need to create oscar-api's own OrderPlacementMixin to rewrite Restful str

[2020-12-07 18:39] maerteijn commented on #254
One of the reasons that we can't use Oscar's [`handler_order_placement`](https://github.com/django-oscar/django-oscar/blob/f333a827734761d8f1b21db94f5ae9654be31169/src/oscar/apps/checkout/mixins.py#L93) is that the [`handle_successful_order`](https://github.com/django-oscar/django-oscar/blob/f333a827734761d8f1b21db94f5ae9654be31169/src/oscar/apps/checkout/mixins.py#L238) method is not really gener

[2020-12-09 09:01] #254 closed

[2020-12-21 15:35] TravellerSam opened #256 "Installation documentation"
The [installation instructions](https://github.com/django-oscar/django-oscar-api/blob/master/docs/source/topics/outofthebox.rst) for binding the URLs seem to be false, the `migration` can't find Oscar API this way:

`ModuleNotFoundError: No module named 'oscarapi.app'`

The info given in the project's Readme, including the URLs with `path("api/", include("oscarapi.urls")),` is working correctly.

[2020-12-21 20:16] maerteijn commented on #256
@TravellerSam You are right. In the [README](https://github.com/django-oscar/django-oscar-api/blob/master/README.rst) it was already updated a while ago, I just forgot it to do it in  `outofthebox.rst` as well.

Fixed in  8ac23a0

[2020-12-21 20:16] #256 closed

[2020-12-22 01:44] farooqaaa opened #257 "Adding a shipping method to the basket"
Currently, you can only specify a shipping method when you are checking out. There is no way to add a shipping method to the basket so you can have it part of the totals.

I am going to work on this but just wanted to hear what everyone thinks. Why was this left out?

[2020-12-22 15:04] maerteijn commented on #257
@farooqaaa Not quite sure what you mean by "adding shipping method to the basket". Can you explain a bit more what you mean (and which part of oscar you're talking about?)

[2020-12-24 11:04] maerteijn commented on #257
On second thought: This wasn't left out, adding shipping methods to a basket is currently not how Oscar works.

I guess that a separate `OrderTotal` API view that would calculate and summarize the order total including shipping charges, discounts / offers and surcharges could be something useful?

[2021-01-12 05:47] scssconsulting opened #258 "add-to-cart api is too slow"
Found that it runs 49 database queries while adding items to the cart. It's taking somewhere between 2s-8s.

[2021-01-17 06:16] #258 closed

[2021-02-02 11:17] maerteijn commented on #257
@farooqaaa Please reopen if this still is relevant to you

[2021-02-02 11:17] #257 closed

[2021-02-02 23:11] maerteijn commented on #225
Fixed in #260

[2021-02-02 23:11] #225 closed

[2021-02-03 21:08] maerteijn commented on #249
See #261

[2021-02-08 00:37] Omdaprog opened #262 "AttributeError: 'Settings' object has no attribute 'OSCAR_DYNAMIC_CLASS_LOADER'"
HI , i'm trying to work with oscar api but when type : `py manage migrate` i recive this Error
i already added 'rest_framework', 'oscarapi',

[2021-02-08 15:00] maerteijn commented on #262
Can you provide version information for Django, Oscar and OscarAPI and did you also follow the [installlation instructions for Oscar](https://django-oscar.readthedocs.io/en/stable/internals/getting_started.html)?

[2021-02-08 17:27] Omdaprog commented on #262
**Django==3.1.6 || django-oscar==3.0 || django-oscar-api==2.1.1**
i want to add only django-oscar-api , it's required to add dependencies of oscar package ?
my  settings.py file ==>
`
from pathlib import Path
# from oscar.defaults import *

# Build paths inside the project like this: BASE_DIR / 'subdir'.
BASE_DIR = Path(__file__).resolve().parent.parent

# SECURITY WARNING: don't run with debug tu

[2021-02-08 17:28] Omdaprog commented on #262
Django==3.1.6 || django-oscar==3.0 || django-oscar-api==2.1.1
i want to add only django-oscar-api , it's required to add dependencies of
oscar package ?
my settings.py file ==>
`
from pathlib import Path
from oscar.defaults import *Build paths inside the project like this:
BASE_DIR / 'subdir'.

BASE_DIR = Path(file).resolve().parent.parent
SECURITY WARNING: don't run with debug turned on in produc

[2021-02-08 18:30] maerteijn commented on #262
You can't use `django-oscar-api` without using `django-oscar` of course, this is also stated in the [installation](https://django-oscar-api.readthedocs.io/en/latest/#installation) instructions.

I'd suggest reading the documentation of [django-oscar](https://django-oscar.readthedocs.io/en/stable/) and [django-oscar-api ](https://django-oscar-api.readthedocs.io/en/latest/) so you have a better unde

[2021-02-08 20:15] Omdaprog commented on #262
Soory i miss the first line of of django-oscar-api documentation ,  thnx man

[2021-02-08 20:15] #262 closed

[2021-02-09 13:33] maerteijn commented on #249
We'll wait for https://github.com/django-oscar/django-oscar/pull/3644 now to see if it gets merged and released soon(ish)

[2021-02-26 04:22] solarissmoke commented on #249
@maerteijn https://github.com/django-oscar/django-oscar/pull/3644 was released in Oscar 3.0.2

[2021-02-26 08:01] maerteijn commented on #249
@solarissmoke Yes, I saw it already, working on it in https://github.com/django-oscar/django-oscar-api/pull/263 so the release will be soon.

[2021-03-07 21:01] maerteijn commented on #249
OscarAPI is Oscar 3 compatible now

[2021-03-07 21:01] #249 closed

[2021-03-28 22:31] jmarshall9120 commented on #93
So I'm in the middle of this right now and some links on this ticket are broken.  Can someone look at this example and let me know if this is the 'recomended' way to implement.   I feel a simple example added to this issue is better than creating a whole new issue, but happy to do so if that is needed.

I already I have my frontend payment stuff done (stripe in my case) during basket and confirmat

[2021-04-23 18:48] JanAdamiak opened #267 "Navbar title has a typo."
Documentation navbar displays "Django Osar API" instead of "Django Oscar API".

[2021-04-23 19:26] specialunderwear commented on #267
I think it should be changed to Djagno oscar api

[2021-04-24 16:29] maerteijn commented on #267
It is already there [for a long time](https://github.com/django-oscar/django-oscar-api/commit/f6a92af29b0a5c73ca5ad722183ec78a6f767573)

Fixed in the master branch, thanks for reporting!

[2021-04-24 16:29] #267 closed

[2021-06-27 06:31] theArsalanM opened #268 "Feature Request - Partner Dashboard API"
Django Oscar allow partners to login to dashboard, and perform operations specific to their store i.e view your orders, add/update your products etc.

Django Oscar API provides admin api, but seems like this API can be used by "staff users" or "superusers" only. This admin API cannot be used for standalone app for partners.

Is this the design principle of Oscar-API that doesn't allow partner APIs

[2021-07-07 14:14] ibr9him commented on #268
This would be nice.... Currently I am working on something similar. I want to query products by partner and expose that functionality through rest api.

what I am trying to achieve is
GET /api/products/?partner=2

I could use some hints.

[2021-07-08 09:23] maerteijn commented on #268
@ibr9him `ProducList`

[2021-07-08 09:29] maerteijn commented on #268
Ok, I gave it some thought as I was actually not aware of the fact that you could link users to a `Partner` and that they can login into the oscar dashboard to view their products and orders.

I think that we can handle this by exposing the admin api  for users attached to a specific parner. I will think about this and discuss this idea the following weeks.

[2021-07-08 21:13] ibr9him commented on #268
@maerteijn gotcha.

Will now you mentioned it 'I think that we can handle this by exposing the admin api for users attached to a specific partner.' that was my next step.

Waiting to hear your thought on it and help if I could

[2021-11-13 09:18] ViggieSmalls opened #271 "basket endpoint conflicts with Django's UpdateCacheMiddleware: {TypeError}cannot pickle '_io.BufferedReader' object"
I implemented django's [per site cache](https://docs.djangoproject.com/en/3.2/topics/cache/#the-per-site-cache) in a django-oscar project with django-oscar-api. I use LocMemCache as a cache backend.

Before adding `django.middleware.cache.UpdateCacheMiddleware` to my middlewares, everything worked fine and I could make a request to the "basket" endpoint like this and it returned a 200 response:

[

[2021-11-13 14:24] ViggieSmalls commented on #271
Problem fixed, the caching middlewares must come before the SessionMiddleware.

[2021-11-13 14:24] #271 closed

[2021-11-22 16:12] ladrua opened #272 "Merging wrong baskets on login"
Sometimes after login the users baskets seem to be merged with "random" anonymous baskets.

This specific project has "custom inputs" for each orderline(personalizations) so it is easy to identify that they are coming from multiple baskets.

Using v2.1.0 and just using api calls from nuxt app on same domain.

Anyone got any idea what could be causing this error? The login is using JWT, and we have

[2021-11-22 23:22] maerteijn commented on #272
Hi Ladrua,

The anonymous baskets are retrieved from the active django session, see https://github.com/django-oscar/django-oscar-api/blob/95d88a5a97e99656b3785d1d3dff1bef42d9cd12/oscarapi/basket/operations.py#L72

This assumes that a django session is unique for each anonymous user, could it be that this isn’t the case and that the same sessions are used for multiple anonymous users in your situat

[2021-11-23 12:16] ladrua commented on #272
Hi @maerteijn thanks for the reply! I also gather it must be a session/session-id issue somehow.

I did notice in the beginning that the middleware was missing for the project, and we added the `oscarapi.middleware.ApiBasketMiddleWare` and I was sure this was the cause of the error. But then the next day we got the same bug.

Could a missing middleware cause this you think?

The frontend(nuxt) is

[2021-11-24 09:54] maerteijn commented on #272
`Could a missing middleware cause this you think?`

I don't think so. As I think all is functioning "as should", except for the case that session cookies are somehow reused over multiple clients, which is not what you want of course.

How do you serve your Nuxt front-end? You could try to do this with a regular django view. This way you invoke the django session logic with each visit which then ma

[2021-11-24 13:57] ladrua commented on #272
So its a container setup, nuxt frontend living in a node container and django backend living in a python container both behind a nginx proxy under the same domain. Frontend domain.com and backend domain.com/api/. I do believe this is "best practice" or at least common practice.

So in my case they are both using the same cookie as they are both under the same domain. So its strange. Maybe my nuxt

[2021-11-25 11:19] maerteijn commented on #272
`My only bet was the middleware, and there is another middleware mentioned in the docs `

The `ApiBasketMiddleWare` should be used when you mix the regular django-oscar front-end with the api. This is because django-oscar uses a cookie to set the anonymous basket id, instead of using the server side session. This middleware makes sure that this won't cause any problems. This is not applicable in y

[2021-11-25 12:34] ladrua commented on #272
`Are you using nuxt purely client side (in the browser), or also on the server?`
This is a good point. We do both, but we never do anything basket related server-side. Just fetching product data to generate content for search engines, sharing and the usual. I'll take a deeper look to make sure there are no such cases that we fetch basket or anything like that server side, but I am pretty confident

[2021-11-25 12:44] #272 closed

[2021-11-26 08:45] maerteijn commented on #272
@ladrua You’ll need the basket middleware of oscar itself, but not any of the middlewares described above, unless your situation fits as described.

[2021-12-12 20:00] babanazar opened #276 "Add product with options not working"
Hi,
I have forked and cloned django oscar api. When I try to call `/basket/add-service/` with options, it is not working. I see it on request.data but it does not appear in p_ser.validated_data property.
Can you please help?

EDIT:
By `/basket/add-service/` I meant `/basket/add-product/`

[2021-12-12 22:41] maerteijn commented on #276
Hi Babanazar,

I don’t know where this `add-service` endpoint is coming from but this is not part of oscarapi. How you can add options to a product is to be seen in the unit tests: https://github.com/django-oscar/django-oscar-api/blob/cb987b04cefe46b2bf8fe34a37a57c5603bc7401/oscarapi/tests/unit/testbasket.py#L1098 and in the documentation: https://django-oscar-api.readthedocs.io/en/latest/topics/c

[2021-12-13 19:21] benmehlman opened #277 "When doing a patch operation on admin/product, images are inserted rather than updated."
When doing operations on 'admin/product', most behavior is as expected.. if you do a POST, the product is inserted, if PATCH, the fields supplied update the existing record, if DELETE, the product is deleted.

Except for the `images` field.  If you supply a list of images to a `patch`, it does not replace the previous list of images.  Instead, the images are inserted alongside the existing images.

[2021-12-13 20:18] specialunderwear commented on #277
Hi Ben,

You might be confusing PATCH with PUT. Where Both are used for updates, PUT updates the entire record, which is what you want. And PATCH is used to perform partial update, which is why it not removing any images. So to do what you want, use PATCH.

[2021-12-13 20:20] specialunderwear commented on #277
I meant to say use PUT lol

[2021-12-13 20:57] benmehlman commented on #277
Ok I see, thank you I will try it now.

In my view, specifying "images" in a patch should semantically speaking replace the old value of "images".  But since I'm updating the whole record anyway, using PUT should be fine.

[2021-12-13 22:04] maerteijn commented on #276
@babanazar Did the examples mentioned above help you?

[2021-12-14 05:17] babanazar commented on #276
@maerteijn Thank you for your answer.
But unfortunately, I still can not solve the issue. I see the 'options' in request.data variable but it does not exist in p_ser.validated_data. Thus it is ignored and not added.

[2021-12-14 07:13] babanazar commented on #276
I have been debugging lately. I think my issue is similar to issue in the link.
https://stackoverflow.com/questions/68687339/django-rest-framework-cant-identify-serializer-field-name

![image](https://user-images.githubusercontent.com/19417795/145950226-d8a58399-6ba1-42ea-b9a6-9b4ae33aabed.png)

I share screenshot of code where I think my input does not match. Here in `match = regex.match(field)`,

[2021-12-14 11:44] specialunderwear commented on #277
If we would do it like that, there would be no way to partially update the images.

[2021-12-14 11:44] #277 closed

[2021-12-14 12:31] maerteijn commented on #276
@babanazar When I run the test mentioned above and manually inspect the options, I can see they are there:
[code]
So this is not an Oscar API  issue, so what did you do in your project? Did you overrride the views or serializers, and if so, please provide what you did change? And what is this `add-service` endpoint?

[2021-12-14 12:45] babanazar commented on #276
@maerteijn thank you for response.
I forked and modified the project. I renamed `product` model to `service`. I want to build a platform that sells services instead of products.
The rest of the project is functional. This part also passes the tests but I can not manage to add options via postman request.

[2021-12-14 12:53] maerteijn commented on #276
Ok, please try to follow a similar scenario with the `requests` library as [described in the documentation](https://django-oscar-api.readthedocs.io/en/latest/topics/communicate_with_the_api.html#communicate-with-the-api).

Is it still not possible to add options? (check: Did you provide the correct `option_url`)?

[2021-12-14 13:26] babanazar commented on #276
@maerteijn , I followed exactly the same steps described in the documentation. I still can not add options.
I provide the log of my steps in the attachment.
Can you please help me solve the issue with customizaiton?

[logs.txt](https://github.com/django-oscar/django-oscar-api/files/7711905/logs.txt)

[2021-12-14 19:54] maerteijn commented on #276
@babanazar Ehm sorry, but your log is very messy and when you are trying to print the content of the basket lines, they are empty. That should ring a bell:
[code]

When there is nothing in your basket, there are no options of course. Please check the output of the response your first line `response = session.post('http://localhost:8000/api/basket/add-service/', json=data)` as it was not succesful

[2021-12-16 20:13] babanazar commented on #276
It worked when I tried steps in the documentation in the command line. It also worked with raw data in postman. I think the issue is with my data format in x-www-form-urlencoded form. As a result, the issue is solved. Thanks for your guidance.

[2021-12-16 20:13] #276 closed

[2021-12-25 16:28] bboyadao commented on #132
can we use https://github.com/tfranzel/drf-spectacular ?

[2022-02-01 05:19] nakarinh14 opened #279 "Add remove voucher from basket view"
Django Oscar has a voucher removal view, and I think it would be nice if we also add a view for it too?

[2022-02-08 09:51] raghavdasila opened #281 "ChildProductserializer should be renamed to ChildProductSerializer to follow the rest of the naming convention"
https://github.com/django-oscar/django-oscar-api/blob/58bb57ea9a9b1862dddffa3230dd1122d77578b8/oscarapi/serializers/product.py#L375

[2022-02-08 12:18] maerteijn commented on #281
Care to make a PR?

[2022-02-08 12:19] raghavdasila commented on #281
Sure, will do

[2022-02-08 13:28] #281 closed

[2022-02-23 15:18] joeyjurjens opened #284 "LazyRemoteFile sometimes raises 403 forbidden error because of urlretrieve headers"
First of all; It does not raise a 403 all the time, but lately I've stumbled upon it quite a few times.

The LazyRemoteFile uses urlretrieve to download images from a given url and saves it to a file.
https://github.com/django-oscar/django-oscar-api/blob/aba90b0cf1a78d0066bb896612ab5ed354f31394/oscarapi/serializers/fields.py#L310

However, the user-agent it uses by default seems to get blocked by

[2022-02-23 15:23] specialunderwear commented on #284
Please use just urllib, we don't have a lot of requests we are doing and keeping the dependencies minimal is a goal of this project. Please make sure the User-Agent has a sane default, but can be overridden by a setting. Provide some example settings to emulate common browsers in the documentation.

[2022-02-23 15:49] maerteijn commented on #284
☝️

[2022-03-26 16:02] tofubit opened #285 "the sandbox doesn't work due to incompatable version of django getting installed."
after doing a _make sandbox_ i get the following error

Obtaining file:///home/mhb/Documents/oscarapi
Collecting Django>=2.2.24
  Using cached Django-4.0.3-py3-none-any.whl (8.0 MB)
Requirement already satisfied: django-oscar>=3.0 in ./venv/lib/python3.8/site-packages (from django-oscar-api==3.1.0) (3.1)
Requirement already satisfied: djangorestframework>=3.9 in ./venv/lib/python3.8/site-packages

[2022-03-26 16:03] tofubit commented on #285
it turned out the django version specified in setup.py was causing this.

[2022-03-26 16:28] ghost opened #287 "ImageUrlField is causing an error"
when I try to create a category with an image I get the following error:

can someone also tell me what is the purpose of this ImageUrlField and why it replaces the rest_frameworks ImageField?

[2022-03-26 17:16] maerteijn commented on #285
I’m sorry but the error you get has nothing to do with the **minimum requirement** of Django specified as 2.2.x but with the installed Django version on your system (4) which is not compatible yet with `oscarapi`.

You should install Django 2.2.x or 3.2 before installing `oscarapi`.

I’ll release a Django 4 compatible version when Oscar is doing as well.

See also the compatible Django versions in

[2022-03-26 17:16] #285 closed

[2022-03-26 17:45] tofubit commented on #285
@maerteijn   don't really get it because I was using a brand new virtualenv without a previous django installation.

[2022-03-26 19:29] maerteijn commented on #285
@tofubit That is because we only defined a minimum version of Django and not a maximum version.  So it will install the latest version of Django available which is version 4.

Install `django-oscar` in your virtualenv first which has the correct maximum version defined, then install the `oscarapi` sandbox and all will be fine.

[2022-03-26 19:33] maerteijn commented on #287
It is there so you can also provide an external url so `oscarapi` will download this instead of providing the image itself.

Can you provide the request data as well?

[2022-04-03 08:38] maerteijn commented on #287
@tofubit See my question above

[2022-05-09 13:55] #284 closed, assigned to nobody

[2022-06-13 19:15] Jimmar commented on #287
I'm facing the same issue too, `data` in this context seem to be a `InMemoryUploadedFile` type object (or `TemporaryUploadedFile` if it was more than 2.5MB).
neither of which has the method `startWith`.

I had a working api before adding `django-oscar` and `django-oscar-api` and by just adding them it stared to crash on this same line.

I'm sending the request image as a form data from my frontend

[2022-06-13 21:20] maerteijn commented on #287
Can you provide the url you are posting to (`url` in your example), the complete contents of`formData` and the Django traceback?

[2022-06-14 15:34] specialunderwear commented on #287
Maybe you are trying to use oscarapi to build a javascript frontend for the admin maybe? In that case you need to implement your own api for uploading images. the admin api is build to synchronise data to oscar from an external application via json/rest.

[2022-06-14 15:45] Jimmar commented on #287
@specialunderwear I'm not even trying to use oscar api yet.

I currently have an API endpoint that works fine to upload images, just adding oscar api to the project breaks that.
I'm not trying to use oscar api to upload images.

in the project that I just linked, if you removed that line from the `urls.py` then the image upload works fine.

[2022-08-08 09:20] maerteijn commented on #287
@Jimmar So what you are saying is that by just installing / enabling `django-oscar-api`, the regular Django Rest Framework [ImageField](https://www.django-rest-framework.org/api-guide/fields/#imagefield) gets broken?

[2022-08-08 18:31] Jimmar commented on #287
basically yes, doesn't to work well with formData, the serializer is expecting `data` to be a string url but it's actually being handled as an `InMemoryUploadedFile` (or `TemporaryUploadedFile` if it was more than 2.5MB).

if you take a look at this comment that I wrote here
https://github.com/django-oscar/django-oscar-api/issues/287#issuecomment-1155342161

it has a link to a sample project that

[2022-08-08 18:49] samar-hassan opened #289 "Voucher application with suspended offer"
Voucher is being applied even if the only offer attached to the that voucher is suspended.

[2022-08-09 08:42] maerteijn commented on #289
This shouldn't be the case as django-oscar-api is just using the regular django-oscar machinery for applying offers.

In [apply_offers](https://github.com/django-oscar/django-oscar-api/blob/cd0abce33bdd16a689872266f960444502cdeeaf/oscarapi/basket/operations.py#L28), we just call the oscar applicator:
[code]

In the default oscar applicator, offers are retrieved by using the [active](https://github

[2022-08-09 09:02] maerteijn commented on #287
Ok confirmed,

This is because we patch rest framework to have the `ImageUrlField` as a default field for `models.ImageField`. This happens in the `OscarSerializer` and is implicitly monkey patching DRF:

[code]

This, of course, we shouldn't do.

Fastest solution for now: explicity define the DRF `[ImageField](https://www.django-rest-framework.org/api-guide/fields/#imagefield)` for `models.ImageF

[2022-08-09 09:07] maerteijn commented on #279
Yes, that would be nice. Feel free to open a PR!

[2022-08-09 13:58] samar-hassan opened #291 "Unable to create an account"
Unable to create an account after setting up the repository locally.
<img width="1283" alt="image" src="https://user-images.githubusercontent.com/88422175/183668029-52ce34a2-7394-4e8f-9277-191e1dc9a37c.png">

[2022-08-09 20:49] maerteijn commented on #291
@samar-hassan This issuetracker is for issues with oscarapi, it’s not a helpdesk for regular oscar setup.

We recommend that you ask for help on [Stack Overflow](https://stackoverflow.com/) using the django-oscar tag or join the mailing list (https://groups.google.com/forum/#!forum/django-oscar) and ask a question there.

Thanks.

[2022-08-09 20:49] #291 closed

[2022-08-10 07:51] maerteijn commented on #287
@Jimmar We committed a [fix](https://github.com/django-oscar/django-oscar-api/pull/290/files) to the main branch. Could you install the package from github in your local environment:
[code]

and verify this fix works for your scenario?

[2022-08-11 21:42] Jimmar commented on #287
I confirm that this fixes the issue, thank you !

[2022-08-25 11:41] shamszzazzo opened #293 "How to Login with react js"
Trying to use react js to log in and other options but the problem is httponly session can't access by any kind of js even use withCredentials: true.

please give good documentation to communicate with API with js frameworks. or at least js.

[2022-08-28 12:58] maerteijn commented on #293
@shamszzazzo I gave this a thought and it would indeed help to at least have some handgrips to get started.

I'm working on a javascript example with the `fetch` API. and how you should / could configure `django-rest-framework` to make this possible. I'll keep you posted in the following weeks.

[2022-09-04 09:14] farooqaaa commented on #293
@shamszzazzo There a few reasons:
* Is the frontend and backend on different domain names/IP?
* Have you set up the CORS headers correctly? You need "SameSite" as "None".

Also, don't use session authentication. Use something like django-knox.

[2022-09-06 07:46] shamszzazzo commented on #293
Thank you for that,
yes I use the same domain name and there it works but when I use a different domain it won't give cstf token,

and I already use them in the setting.

`CSRF_COOKIE_SECURE = True
SESSION_COOKIE_SECURE = True
CORS_ALLOW_CREDENTIALS = True
SESSION_COOKIE_SAMESITE = "None"`

but I am already using session authentication that oscar gives in by default. So should I change to django-k

[2022-09-06 08:00] farooqaaa commented on #293
I think this Oscar API is supposed to work best when your frontend is already inside Django (or share the same domain). If you have a separate frontend on a different domain, I would suggest moving away from session authentication. It's not easy to set up and not recommended in that case.

[2022-09-06 10:47] shamszzazzo commented on #293
@farooqaaa so the idea is to use make my own custom authentication and session views for basket and others?

well, I have already done authentication but my problem is I can't read cookies from frontend because it httponly,
besides, there is a CSRF issue when I need to log out (delete request in login).

All I want is to use session authentication and add and remove items from the basket but I can

[2022-09-06 13:16] farooqaaa commented on #293
If you want to stick to Session Authentication still then I guess something like this could work:
[code]

Try these settings.

[2022-09-11 05:44] shamszzazzo commented on #293
Thanks for your effort,

it gives a good understanding of ajax requests for OscarAPI.

But I still face problems with connecting ReactJS.
I did log in with reactJS, where my session and CSRF go-to cookies but I can't access cookies.
So, When I try to delete a request in login it shows:
[code]
I can't get the CSRF token. with
` document.querySelector('[name=csrfmiddlewaretoken]').value `
please hel

[2022-09-12 09:04] maerteijn commented on #293
I updated the example with a Logout button and it now reads the CSRF token from the cookie (it changes of course after a `POST` or `DELETE`).

This is documented in the django docs: https://docs.djangoproject.com/en/4.1/howto/csrf/#acquiring-the-token-if-csrf-use-sessions-and-csrf-cookie-httponly-are-false

See the fulll example here: https://github.com/django-oscar/django-oscar-api/blob/6e2f7f994

[2022-09-20 07:47] shamszzazzo commented on #293
Sorry to say I try many ways but it won't delete Session id and CSRF token from cookies even if I try to logout(delete request)

login delete request:

[code]

maybe here need some change like response.delete_cookie or something.

[2022-09-20 10:58] maerteijn commented on #293
`it won't delete Session id and CSRF token from cookies`

And how do you determine that this is not the case?

[2022-09-20 11:36] maerteijn commented on #293
I forgot [to remove a line i](https://github.com/django-oscar/django-oscar-api/commit/3f862df36b3fb77e7e8bf6b72112341bfcc2a894)n the example, so if you did try the sandbox example you should pull the main branch again.

Here is a scenario that I think is doing what you are expecting.

**1) I login with a user:**
You can see the response cookies `csrftoken` and `sessionid` are set:
![image](https:/

[2022-09-20 12:32] maerteijn commented on #293
Ok I figured out that the current implementation of the delete view is deleting too much so the standard django middleware isn't able to expire the session cookie.

I'm working on a PR to fix is, the result is that an expired cookie will be set by the default middleware which will delete the cookie client side:

![image](https://user-images.githubusercontent.com/121401/191258271-438abc30-f2a1-47d8

[2022-09-21 09:07] shamszzazzo commented on #293
Thanks for your extraordinary effort,
I will wait for it.

[2022-09-21 09:12] shamszzazzo opened #295 "How to Overwrite Oscar API URL ?"
Maybe it's a silly question but which way is best to overwrite oscar API URLs?
I mean I want to create a new url.py inside oscar_api(OSCARAPI_OVERRIDE_MODULES = ["oscar_api"]).

I need to change login registration and add to the cart(basket) from my custom API view and keep the product from oscar_api.

[2022-09-21 13:13] maerteijn commented on #295
You currently can't overrride the url's by placing a new `urls.py` in you `OSCARAPI_OVERRIDE_MODULES` path. This only works for the views and classes which are retrieved with `get_api_class`.

So you need to override the views you mention (as those can be overridden). This is [explained in the documentation ](https://django-oscar-api.readthedocs.io/en/stable/topics/customizing_oscarapi.html)or reg

[2022-09-21 13:13] #295 closed

[2022-09-22 10:24] maerteijn commented on #293
@shamszzazzo https://github.com/django-oscar/django-oscar-api/pull/294

This has been merged in the master branch so session cookies will be deleted when you call the `delete` logout view.

[2022-09-30 07:00] pysaundary opened #296 "getting"
i am getting File "/home/ec2-user/New-Store/kavishalastore/My_kavi_store/lib64/python3.7/site-packages/oscarapi/serializers/fields.py", line 332, in to_internal_value
    http_prefix = data.startswith(("http:", "https:"))
AttributeError: 'InMemoryUploadedFile' object has no attribute 'startswith'    when i am trying to update user image

My update view.py
[code]

My Model.py is

[code]

and serial

[2022-09-30 12:19] maerteijn commented on #296
Hi @pysaundary

This is probably the same issue as #287

It has been fixed in [version 3.1.2](https://django-oscar-api.readthedocs.io/en/latest/changelog.html)

Can you confirm / check if you have 3.1.2 installed?

[2022-10-02 09:58] maerteijn commented on #293
@shamszzazzo Any chance you had te opportunity to test the master branch?

[2022-10-05 12:42] viggo-devries opened #297 "Weird results in attributes with patching Childs"
Parent product has only attribute A filled
Child product has only attribute B filled

When patching the child product (does not matter what you change) The attribute value from A will also be saved on the child product.

parent:
![image](https://user-images.githubusercontent.com/51402920/194062638-9f59853d-34ce-4bef-86ef-2a7fccb5bb8f.png)

child before patching:
![image](https://user-images.github

[2022-10-06 09:16] maerteijn commented on #296
@pysaundary A gentle reminder ^

[2022-10-17 18:06] #296 closed

[2022-10-17 18:07] #287 closed

[2022-10-17 18:07] #293 closed

[2022-10-25 08:13] shamspias opened #300 "AttributeError: 'NoneType' object has no attribute 'strategy'"
when trying to fetch baskets API to get anonymous cart information it shows
[code]

API: ` /api/baskets/ `
request: GET
view: BasketList

problem point:

`
        else:  # anonymous users have max 1 basket.
            basket = get_anonymous_basket(self.request)
            mapped_with_baskets = [prepare_basket(basket, self.request)]
`
if no cart is in session it shows an error but needs an error

[2022-10-25 08:39] specialunderwear commented on #300
That is not the correct api to fetch a users basket. You should use ``/api/basket/``

[2022-10-25 08:43] shamspias commented on #300
Thanks to let me know.
but why this
API: /api/baskets/
then ?
at least if it's useless then it should be removed right?
at let's need remove the lines

oscarapi/views/basic.py
[code]

[2022-11-01 10:57] shamspias opened #301 "Is there any good way to make price range filter with oscar api?"
Without using HayStack is there any way to filter products by price range?